*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
body{
    background: url(../images/cloud/bg_content.png) 0 0;
    background-repeat: repeat-x;
    background-color: #328eb4;
}
.container{
    width: 100%;
    min-width: 1226px;
}
.content{
    width: 100%;
    height:100%;
    margin:0 auto;
}
.top{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding-top: 30px;
}
/*左边logo*/
.xiaomibox{
    width: 140px;
    height: 32px;
    border-radius: 7px;
    margin-left: 20px;
    float:left;
    position:relative;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    color:rgb(162,167,181);
}
.xiaomibox a{
    color:rgb(162,167,181);
}
.xiaomibox .icon-xiaomi{
    font-size: 20px;
}
.x_address{
    position: absolute;
    top: 32px;
    box-sizing: border-box;
    padding-top:10px;
    z-index: 2;
    display: none;
}
.xiaomibox_msg{
    border-radius: 7px;
    list-style: none;
    background-color: rgb(46,58,88);
}
.xiaomibox_msg li{
    width:140px;
    height:32px;
    line-height: 32px;
    text-align: left;
}
.xiaomibox_msg a{
    display: block;
    width:140px;
    height:32px;
    box-sizing: border-box;
    padding-left:35px;
    color: rgb(193,200,209);
}
.xiaomibox:hover{
    background-color: rgb(51,63,92);
}
.xiaomibox:hover .x_box{
    color: white;
}
.xiaomibox:hover .x_address{
    display: block;
}
.x_address a:hover{
    background-color: rgb(54,66,92);
    color:white;
}
/*客户端下载*/
.c_t_rightnavsar{
    /*width:300px;*/
    height:40px;
    float:right;
    margin-right:40px;
}
.client{
    width: 140px;
    height: 40px;
    float:left;
}
.client img{
    width: 15px;
    height: 13px;
}
.client span{
    color: rgb(162,167,181);
    font-size: 14px;
    line-height: 40px;
}
.client .t_d_new{
    width: 32px;
    height: 15px;
}
/*了解云服务*/
.top_cloud{
    height: 40px;
    float:left;
}
.top_cloud img{
    width: 20px;
    height: 18px;
    display: block;
    float:left;
    margin-top:11px;
}
.top_cloud span{
    color: rgb(162,167,181);
    font-size: 14px;
    line-height: 40px;
}
.top_cloud span:hover{
    color: white;
}
/*中间框*/
.service{
    width:100%;
    position: absolute;
    top:50%;
    margin-top: -210px;
}
.centre{
    width:600px;
    margin:0 auto;
}
.centre_cloud{
    height:220px;
    width: 600px;
}
.centre_cloud img{
    height: 105px;
    width: 156px;
    display: block;
    margin:0 auto;
}
.centre_cloud p{
    text-align: center;
    color:rgb(162,167,181);
}
.cente_title{
    height:50px;
    line-height: 50px;
    margin-top:10px;
    font-size:30px;
}
.cente_text{
    height:30px;
    line-height: 30px;
}
/*小米账号登录*/
.centre_msg{
    height: 100px;
    width: 100%;
}
.centre_msg a{
    display: block;
    width:320px;
    height:42px;
    margin:40px auto 0;
    background-color:#2C759A;
    border:1px solid #598fab;
    border-radius: 30px;
    line-height: 42px;
    text-align: center;
    color: rgb(209,214,221);
}
.centre_msg a:hover{
    color: white;
}
/*底端部分*/
.bottom{
    width: 100%;
    margin-top:100px;
    position: absolute;
    bottom:0;
}
.bottom_text{
    width:100%;
    margin:0 auto;
    text-align: center;
}
.bottom a{
    font-size: 12px;
    color:#bdc8d3;
}
.bottom a:hover{
    color: white;
}
.bottom_text span{
    color: #bdc8d3;
    font-size: 12px;
}
.bottom_text2{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.bottom_text2 span{
    color: #bdc8d3;
    font-size: 12px;
}