/*以下以一条横线划分模块*/
/*以一串星星横线划分动态hover变化*/
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
a{
    text-decoration: none;
    color:#ffffff;
}
.container {
    width: 100%;
    height: 100%;
    background-color: #f1f2f6;
}
/*导航栏设置*/
/*-----------------------------------------------------------------------*/
.nav {
    width: 100%;
    height: 65px;
    background-color:#4f4f51;
}
.nav_header {
    width: 1200px;
    height: 65px;
    background-color: #4f4f51;
    margin: 0 auto;
}
/*logo设置*/
.logo_pic {
    height:65px;
    float:left;
}
.logo_pic img{
    height:65px;
    width:175px;
}
/*二维码设置*/
.nav_Client_flag {
    width: 90px;
    height: 65px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    font-size: 14px ;
    line-height: 65px;
    color: #ff6f3d;
    float:left;
}
.nav_Client_flag img{
    width:10px;
    height:14px;
}
.nav_Client_flag a{
    color: #ff6f3d;
}
.n_h_f_qr{
    width: 186px;
    height: 205px;
    background-color: white;
    position: absolute;
    top: 65px;
    z-index: 2;
    display: none;
}
/*二维码图片设置*/
.qr_pic {
    background: url("../images/community/logo_qr.png") no-repeat center;
    width: 150px;
    height: 150px;
    margin:15px auto 0;
}
.n_h_f_qr p{
    height:35px;
    font-size: 13px;
    text-align: center;
    line-height: 35px;
    color:#454545;
}
.nav_Client_flag:hover .n_h_f_qr{
    display: block;
}
/*导航栏菜单设置*/
.nav_header_menu{
    list-style: none;
    float:left;
}
.nav_header_menu li{
    height:65px;
    padding:0 7px;
    font-size: 15px;
    text-align: center;
    line-height: 65px;
    float: left;
    z-index:10;
    position: relative;
}
.nav_header_menu .n_h_m_icon:hover{
    color:#ff6f3d;
}
.subnav_bankuai{
    width:68px;
}

/*more*/
.sub_gengduo{
    width:480px;
    height:240px;
    position: absolute;
    top:65px;
    left:-100px;
    box-sizing: border-box;
    background-color: white;
    padding:30px;
    display: none;
}
.sub_gengduo a{
    color:#808080;
}
.sub_gengduo ul{
    width:210px;
    box-sizing: border-box;
    padding:30px;
    float:left;
}
.sub_gengduo ul li{
    list-style: inherit;
    width:170px;
    height:30px;
    text-align: left;
    line-height: 20px;
}
.subnav_bankuai:hover .sub_gengduo{
    display: block;
}
/*导航栏右侧  更多，登陆，注册*/
.nav_right{
    float: right;
}
.nav_right li{
    height:65px;
    line-height: 65px;
    list-style: none;
    color:white;
    float: left;
    font-size: 15px;
}
.nav_right .n_r_line{
    width:20px;
    font-size: 20px;
    text-align: center;
}
.nav_right a{
    color: white;
}

.nav_right a:hover {
    color: #ff6f3d;
}
/*----------------------------------------------------------------------------------------------*/
/*body主体*/

.content{
    width: 1200px;
    margin:20px auto 0;
    background-color: #f1f2f6;
}
/*幻灯片部分*/
.banner_box{
    height: 350px;
    width: 100%;
    border-radius: 10px;
    position: relative;
}
.banner_box .swiper-pagination-bullet{
    width: 30px;
    height: 20px;
    border-radius: 0;
    background: #666666;
    color: white;
}
.banner_box .swiper-pagination-bullet-active {
    color:#fff;
    background: rgb(0,0,0,.6);
}
.banner_box .hoverbtn{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.banner_box .hoverbtn:hover{
    background-color:rgba(0,0,0,.2);
}
.banner_box .swiper-slide {
    /*background-position: center;*/
    background-size: cover;
}
.banner_box .swiper-slide-bg1{
    background-image: url("../images/community/banner_1.jpg");
}
.banner_box .swiper-slide-bg2{
    background-image: url("../images/community/banner_2.jpg");
}
.banner_box .swiper-slide-bg3{
    background-image: url("../images/community/banner_3.jpg");
}
.banner_box .swiper-slide-bg4{
    background-image: url("../images/community/banner_4.jpg");
}

.content_box{
    width: 100%;
    height:8200px;
    margin-top:10px;
}
/*分成两个部分*/
/*左边一个盒子，右边一个盒子*/
.content_leftbox{
    width: 870px;
    float:left;
    border-radius: 10px;
    background-color: white;

}

/*设置左侧第一个框*//*对左侧的第一个盒子进行描述*/
.leftbox_topline{
    width: 100%;
    height: 360px;
    border-radius: 10px;
}
.leftbox_topline h2 {
    height:80px;
    box-sizing: border-box;
    padding:27px 0 10px 20px;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.leftbox_topline a {
    color: #000000;
}
/**********************************************************************/
.leftbox_topline h2 :hover {
    color: #ff6f3d;
}
/***************************************************************************/
/*去除下划线*/
.l_t_picture{
    width:430px;
    height:270px;
    float:left;
    box-sizing: border-box;
    padding-left:20px;
}
.l_t_picture img{
    width:410px;
    height: 270px;
    border-radius: 10px;
}
/* 关注人数，微博分享 小图标*/
.leftbox_topline_xiaotubiao{
    height: 20px;
    line-height: 20px;
}
.leftbox_topline_xiaotubiao span{
    color:#aab2bd;
}
.leftbox_topline_xiaotubiao .l_t_x_phone{
    color:#7da6e0;
}
.leftbox_topline_xiaotubiao_right{
    float: right;
}
.leftbox_topline_xiaotubiao_share :hover{
    color:#656d78;
}
.leftbox_topline_content{
    float:right;
    width: 420px;
    box-sizing: border-box;
    padding-right:20px;
    font-size: 13px;
}
.leftbox_topline_content p{
    margin-top:40px;
    font-size: 20px;
    line-height: 35px;
    color:#706f6f;
}
.leftbox_topline_content .quanwen {
    float: right;
    color: cornflowerblue;
}
/*左侧第二个框*/
.leftbox_subtopline{
    margin-top:20px;
    height:205px;
    list-style: none;
    border-radius: 5px;
}
.leftbox_subtopline a{
    color: #706f6f;
}
.leftbox_subtopline li{
    float: left;
    width: 193px;
    height:204px;
    background-color: white;
    margin-left: 20px;
}
.leftbox_subtopline img{
    width: 193px;
    height: 120px;
    border-radius: 10px;
}
.leftbox_subtopline li span{
    width: 135px;
    text-indent: 1em;
    font-size: 13px;
    margin-left: 10px;
    color: black;
    opacity: .8;
}
.leftbox_subtopline_dianjiliang{
    display: inline-block;
    float: left;
    font-size: 12px;
    opacity: 0.5;
    margin-left: 1px;
    margin-top: 10px;
}
.leftbox_subtopline_share i{
    display: inline-block;
    float: right;
    font-size: 12px;
    opacity: 0.5;
    margin-right: 10px;
    margin-top: 10px;
}
.leftbox_subtopline_share i:hover{
    opacity: 1;
}
/*-------------------------左侧一列新闻---------------------*/
.c_t_news{
    border-radius: 10px;
    list-style: none;
    color:#808080;
    margin-top:30px;
}
.c_t_news li{
    width: 828px;
    margin:auto;
    background-color: white;
    padding-bottom: 20px;
    border-top:1px solid #f1f2f6 ;
}
.shuxing{
    height:20px;
    line-height: 20px;
    box-sizing: border-box;
    padding:0 20px;
}
.shuxing .hardware{
    color:cornflowerblue;
}
.c_t_news img{
    display: block;
    width: 792px;
    height:285px;
    border-radius: 5px;
    margin:10px auto;
}
.c_t_news p{
    margin-top:20px;
    box-sizing: border-box;
    padding:0 16px;
    height:80px;
    font-size: 12px;
    line-height: 30px;
}
.c_t_news .xiaotubiao{
    display: inline-block;
    float: right;
}
.c_t_news .xiaotubiao a{
    color:#808080;
}
.c_t_news .quanwen{
    float: right;
    color: cornflowerblue;
}
.c_t_news .c_b_n_title{
    height:60px;
    font-size: 25px;
    text-align: left;
    line-height: 30px;
    box-sizing: border-box;
    padding-top:20px;
    margin:0;
}
.c_b_n_title a{
    color:black;
}
/**//**//******************************************/
.c_t_news .c_b_n_title :hover {
    color: #ff6f3d;
}
/****************************************************/
.c_l_bottom_button{
    width: 100%;
    height: 70px;
    padding-top:20px;
    box-sizing: border-box;
    padding-left:260px;
}
.c_l_bottom_button a{
    color: black;
}
.c_l_bottom_button_content{
    list-style: none;
}
.c_l_bottom_button_content li{
    border: .1px solid silver;
    height: 25px;
    width: 25px;
    text-align: center;
    list-style: none;
    float: left;
    font-size: 13px;
}
.c_l_bottom_button_content .c_l_bottom_button_content_xiayiye{
    width:62px;
}
.c_l_bottom_button_content_first{
    background-color: #ff6f3d;
}
.c_l_bottom_button_content_xiayiye{
    width: 62px;
}
.c_l_bottom_button_content_two:hover{
    background-color: #f5f7fa;
}
.c_l_bottom_button_content_two a:hover{
    color:#ff6f3d;
}
.c_l_bottom_button_content:hover{
    background-color: #f5f7fa;
}
.c_l_bottom_button_content_xiayiye a span:hover{
    color:#ff6f3d;
}

/**/
/*---------------右侧热点内容----------------*/
.content_rightbox{
    width: 319px;
    border-radius: 10px;
    float:right;
    background-color: #f1f2f6;
}
.hot_box{
    width: 319px;
    height: 370px;
    border-radius: 5px;
    background-color: white;
}
.hot_leftbutton{
    width: 159px;
    height: 41px;
    float: left;
    background-color:#f9f9f9;
    border-top:4px solid #ccd1d9;
    border-right:1px solid #f1f2f6;
    text-align: center;
    font-size:15px;
    color:black;
    line-height: 41px;
    position: relative;
    z-index: 10;
}
.hot_leftcontent{
    width:320px;
    height:45px;
    background-color:white;
    position: absolute;
    top:41px;
    left:0;
    display: none;
}
.hot_leftcontent li{
    list-style: none;
    width: 158px;
    height: 45px;
    float: left;
    text-align: center;
    background-color: white;
    border-top: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    font-size: 12px;
}
.hot_leftcontent li a{
    font-size: 15px;
    line-height: 45px;
}
.hot_leftcontent h5{
    color: red;
    font-size: 15px;
}
.hot_leftcontent a{
    font-size: 13px;
    color: black;
}
.hot_leftcontent .h_l_bottom{
    border-top: .5px solid #eeeeee;
    width: 320px;
    position: relative;
    font-size: 14px;
}
.hot_leftbutton:hover .hot_leftcontent{
    display: block;
}
.hot_leftbutton:hover{
    background-color: white;
}
.hot_leftcontent h5:hover{
    font-size: 16px;
}
.hot_leftcontent a:hover{
    color: red;
    font-size: 14px;
}
.hot_leftbutton:hover .hot_rightbutton{
    width: 140px;
    background-color:#f9f9f9;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.hot_rightbutton{
    width: 158px;
    height: 41px;
    float: right;
    border-top:4px solid #ccd1d9;
    text-align: center;
    font-size:15px;
    color:black;
    line-height: 41px;
    position: relative;
}
.hot_rightcontent{
    width: 319px;
    position: absolute;
    left: -160px;
    top: 41px;
    background-color: antiquewhite;
}
.hot_rightcontent {
    list-style: none;
    background-color: white;
}
.hot_rightcontent li{
    width: 158px;
    height: 45px;
    float: left;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    border-top: .1px solid #eeeeee;
    border-right:1px solid #eeeeee;
}
.hot_rightcontent .h_r_bottom{
    border-top:.1px solid #eeeeee;
    width: 319px;
}
.hot_rightcontent a{
    font-size: 14px;
    color: black;
}

.hot_rightbutton:hover .hot_rightcontent{
    display: block;
}
.hot_rightcontent a:hover{
    color: red;
    font-size: 14.5px;
}








/*----------------今日推荐新闻栏------------------*/
.right_recommendation{
    width:100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
}
.right_recommendation_title{
    height: 41px;
    width: 100%;
    line-height: 41px;
    background-color:#f9f9f9;
    position: relative;
}
.right_recommendation_title h4{
    font-size: 13px;
    margin-left:10px;
}
.right_recommendation_title a {
    position: absolute;
    top:1px;
    right:20px;
    color: cornflowerblue;
    font-size: 12px;
}
.right_recommendation_title a:hover {
    color: #ff6f3d;
}
.r_menu{
    padding:10px 0;
}
.r_menu li {
    height: 40px;
    width: 260px;
    list-style: none;
    margin-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color:#706f6f;
}
.r_menu a{
    color:#706f6f;
}
.right_recommendation ul li .one{
    color: #ff6f3d;
}
.right_recommendation li a:hover{
    color:sandybrown;
}

/*---------------活动广告---------------*/
.right_hot_activity{
    width:100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
}
.right_hot_activity_title{
    height: 41px;
    width: 100%;
    line-height: 41px;
    background-color:#f9f9f9;
    position: relative;
}
.right_hot_activity_title h4{
    font-size: 13px;
    margin-left:10px;
}
.right_hot_activity_title a {
    position: absolute;
    top:1px;
    right:20px;
    color: cornflowerblue;
    font-size: 12px;
}
.right_hot_activity_title a:hover {
    color: #ff6f3d;
}
.right_hot_activity img{
    width: 298px;
    height: 210px;
    margin:10px;
    border-radius: 5px;
}
/*------小米手机ROM-------*/
.right_rom_box{
    width:100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
}
.right_rom_box_title{
    height: 41px;
    width: 100%;
    line-height: 41px;
    background-color:#f9f9f9;
}
/*字体设置*/
.right_rom_box h4{
    font-size: 13px;
    margin-left:10px;
}
.right_rom_box .rom_box_top{
    text-align: center;
    background-color:white;
}
.right_rom_box .rom_box_top strong{
    font-size: 40px;
    color: #ff6f3d;
    margin-top: 5px;
    margin-bottom: 5px;
}
.right_rom_box .r_b_t_week{
    font-size: 12px;
    color: #ff6f3d;
    margin-bottom: 5px;
}
.right_rom_box .rom_box_top p{
    font-size: 12px;
    margin-bottom: 5px;
}
.button_gonggao{
    width: 100%;
    height: 40px;

}
.button_gonggao a{
    width:250px;
    height:40px;
    display: block;
    margin:0 auto;
    background-color: #ff6f3d;
    border-radius: 5px;
    color: white;
    line-height: 40px;
    text-align: center;
}
.rom_box_buttom{
    width:100%;
}
.rom_box_buttom_title{
    margin:5px 0 5px;
    height:20px;
    text-align: center;
}
.rom_box_buttom_title a{
    font-size: 12px;
    color: #808080;
}
.rom_box_buttom_title a:hover {
    color: #ff6f3d;
}
.rom_box_buttom_box{
    margin-top:10px;
    padding-bottom: 20px;
    height:20px;
    text-align: center;
}
.rom_box_buttom_box span{
    color: #808080;
}
.rom_box_buttom_box a{
    color: #808080;
    margin-left: 7px;
}
.rom_box_buttom_box a:hover {
    color: #ff6f3d;
}
/*-------------------摄像馆---------------------------*/
.right_camera{
    width:100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    padding-bottom: 10px;
}
.right_camera_title{
    height: 41px;
    width: 100%;
    line-height: 41px;
    background-color:#f9f9f9;
    position: relative;
}
.right_camera_title h4{
    font-size: 13px;
    margin-left:10px;
}
.right_camera_title a {
    position: absolute;
    top:1px;
    right:20px;
    color: cornflowerblue;
    font-size: 12px;
}
.right_camera a:hover {
    color: #ff6f3d;
}
.camera_img{
    height: 210px;
    width: 298px;
    border-radius: 5px;
    margin:10px;
}
.camera_img img{
    width:100%;
    height: 100%;
    border-radius: 10px;
}
/*--------------玩机----------------*/
.right_banner{
    width:100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    padding-bottom: 10px;
}
.right_banner_title{
    height: 41px;
    width: 100%;
    line-height: 41px;
    background-color:#f9f9f9;
    position: relative;
}
.right_banner_title h4{
    font-size: 13px;
    margin-left:10px;
}
.right_banner_title a{
    position: absolute;
    top:1px;
    right:20px;
    color: cornflowerblue;
    font-size: 12px;
}
.right_banner_title a:hover{
    color:sandybrown;
}
.right_banner_game a{
    float:left;
    font-size: 12px;
}

.right_banner_game a:hover{
    color:sandybrown;
}
.right_banner_game{
    width: 100%;
    height:430px;
    box-sizing: border-box;
    padding:30px;
    border-radius: 5px;
}
.right_banner_game li{
    list-style: none;
    height: 80px;
    width: 100%;
    position: relative;
}
.right_banner_game span{
    font-size: 18px;
    position: absolute;
    color:black;
    top:0;
    left:81px;
}
.right_banner_game span:hover{
    color:sandybrown;
}
.right_banner_game img{
    height: 64px;
    width: 64px;
    border-radius: 5px;
}
.right_banner_game p{
    width:200px;
    color:#808080;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    top:40px;
    left:81px;
}
/*----------------------小米学院-----------------*/

.right_school{
    width:100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    padding-bottom: 10px;
}
.right_school_title{
    height: 41px;
    width: 100%;
    line-height: 41px;
    background-color:#f9f9f9;
    position: relative;
}
.right_school_title h4{
    font-size: 13px;
    margin-left:10px;
}
.right_school_title a{
    position: absolute;
    top:1px;
    right:20px;
    color: cornflowerblue;
    font-size: 12px;
}
.right_school_title a:hover{
    color:sandybrown;
}
.right_school_content{
    width:100%;
    height:300px;
}
.right_school_content li{
    height: 153px;
    width: 159px;
    list-style: none;
    float: left;
}
.right_school_content p{
    line-height: 20px;
    margin-top:15px;
    text-align: center;
    color:#808080;
}
.right_school_content p:hover{
    color:sandybrown;
}
.right_school_content img{
    display: block;
    height: 80px;
    width: 125px;
    margin:15px auto 0;
    border-radius: 5px;
}
/*-------左侧第一个图标---设置---------*/
.right_school_content .school_top{
    top:20px;
}
.right_school_content span{
    height:20px ;
    color: black;
}
/*------------------橙色跑--------------*/
.right_cehngsepao{
    width:100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    padding-bottom: 20px;
}
.right_cehngsepao_title{
    height: 41px;
    width: 100%;
    line-height: 41px;
    background-color:#f9f9f9;
    position: relative;
}
.right_cehngsepao h4{
    font-size: 13px;
    margin-left:10px;
}
.right_cehngsepao img{
    display:block;
    width:270px;
    height:205px;
    margin:10px auto;
    border-radius: 5px;
}
/*----------------米粉之星------------*/
.right_fans{
    width:100%;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    padding-bottom: 20px;
}
.right_fans a {
    text-decoration: none;
    color: black;
}
.right_fans_title{
    height: 41px;
    width: 100%;
    line-height: 41px;
    background-color:#f9f9f9;
    position: relative;
}
.right_fans_title h4{
    font-size: 13px;
    margin-left:10px;
}
.right_fans_deparment{
    width:100%;
    height:200px;
    list-style: none;
}
.right_fans_deparment li{
    width: 159px;
    height: 200px;
    float:left;
}
.right_fans_deparment img{
    display: block;
    margin:15px auto 0;
    width: 120px;
    height: 150px;
    border-radius: 5px;
}
.right_fans_deparment p{
    margin-top:10px;
    line-height: 20px;
    font-size: 14px;
    color:#808080;
    text-align: center;
}
.right_fans_deparment p:hover{
    color:sandybrown;
}
.right_fans .right_fans_deparment span:hover{
    color: #ff6f3d;
}
.right_fans_talent_show {
    height: 480px;
    background-color: white;
    box-sizing: border-box;
    padding-left:10px;
}
.right_fans_talent_show li{
    height: 80px;
    width: 280px;
    list-style: none;
    position: relative;
    top: 7.5px;
}
.right_fans_talent_show img{
    height: 65px;
    width: 65px;
    position: relative;
    left: 15px;
    border-radius: 5px;
}
.right_fans_talent_show h5{
    position: relative;
    font-size: 13px;
    bottom: 60px;
    left: 90px;
    opacity: .7;
}
.right_fans_talent_show p{
    text-indent: 1em;
    position: relative;
    bottom: 58px;
    left: 77px;
    font-size:12px ;
    opacity: .5;
}
.right_fans_talent_show .fangwenyemian{
    position: relative;
    bottom: 60px;
    font-size: 12px;
    opacity: .5;
    left:88px;
}
.right_fans_talent_show h5:hover {
    color: #ff6f3d;
    opacity: 1;
}
.right_fans_talent_show .fangwenyemian:hover{
    color: #ff6f3d;
    opacity: 1;
}
/*----------------------地点部分-------------------------*/
.location_box{
    background-color: white;
    width:100%;
    border-radius: 10px;
    margin-top: 15px;
}
.locatiion_box_title{
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color:#f9f9f9;
    position: relative;
}
.locatiion_box_title h4{
    font-size: 18px;
    margin-left:20px;
}
.location_box_atress{
    width: 100%;
    box-sizing: border-box;
    padding:20px 50px;

}
.location_box_atress a{
    color: #808080;
    font-size: 13px;
    display: inline-block;
    width:117px;
    height:30px;
}
.location_box_atress .some_atress{
    position: relative;
    left: -13px;
}
/*-----------------关联部分--------------------*/
.friendlinks_box{
    background-color: white;
    width:100%;
    border-radius: 10px;
    margin-top: 15px;
}
.links_box_title{
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color:#f9f9f9;
    position: relative;
}
.links_box_title h4{
    font-size: 18px;
    margin-left:20px;
}
.links_img{
    height: 60px;
    width: 100%;
}
.links_img li{
    list-style: none;
    float:left;
    width:80px;
    height:60px;
    line-height: 80px;
    margin-left: 30px;
}
.links_img img{
    width:100px;
    height:40px;
}
.links_wed{
    height: 80px;
    width:100%;
    box-sizing: border-box;
    padding:0 30px;
    font-size: 12px;
    line-height: 30px;
}
.links_wed a{
    color:#808080;
}
.links_wed span{
    display: inline-block;
    width:30px;
    text-align: center;
    color:#808080;
}
/*尾部*/
.footer{
    width: 1226px;
    margin: 0 auto;
    background-color: #f1f2f6;
}
.footer a{
    text-decoration: none;
    color: #808080;
}
.footer_inner{
    height: 120px;
    width: 1200px;
    margin:20px auto 0;
    border: 5px solid white;
    position: relative;
}
.footer_logo{
    width: 250px;
    margin:20px 0 20px 30px;
    float:left;
}
.footer_inner h5{
    font-size:16px;
    margin:50px 0 0 50px;
    width: 70px;
    float:left;
    color:#808080;
}
.footer_inner .footer_wed{
    width: 400px;
    height: 120px;
    margin-left: 10px;
    float:left;
}
.footer_inner .footer_wed ul{
    width: 400px;
    margin-top:54px;
}
.footer_inner .footer_wed ul li{
    list-style: none;
    float: left;
    margin-left: 5px;
    opacity: .5;
    font-size: 10px;
}
.footer_inner .footer_wed a{
    color:#808080;
}
.footer_inner .footer_wed span{
    color:#808080;
}
.footer_inner .footer_wed span:hover{
    color: #ff6f3d;
}
.footer_inner .footer_slogen{
    float:right;
    margin-top:50px;
}
.footer_icp{
    width: 1220px;
    margin:20px auto;
}
.footer_icp p{
    height:60px;
    text-align: center;
    font-size: 10px;
    line-height: 60px;
    color:#808080;
    margin-bottom: 20px;
}
.footer_icp a:hover {
    color: #ff6f3d;
    opacity:1;
}
.footer_icp img{
    width:170px;
    height:60px;
    display: block;
    margin:0 auto;
}