/*banner start*/
.banner{width: 1226px;height: 460px;margin:0 auto;position: relative;}
/*b_main start*/
.b_main{width: 1226px;height: 460px;position: relative;}
.b_main .b_m_pic{width: 1226px;height: 460px;}
.b_main .b_m_pic li{position: absolute;top:0;left: 0;display: none;}
.b_main .b_m_pic img{
    width: 1226px;
    height: 460px;
}
.b_main .b_m_btn div{width: 41px;height: 69px;background: red;position: absolute;top:50%;margin-top:-34px;cursor: pointer;background: url("../images/index/icon/icon_slides.png") no-repeat;}
.b_main .b_m_btn .b_m_b_left{left:235px;border-radius: 0 2px 2px 0;background-position: -84px 0px;}
.b_main .b_m_btn .b_m_b_right{right:0;border-radius: 2px 0 0 2px;background-position:-121px 0px;}
.b_main .b_m_btn .b_m_b_left:hover{background-position: 0px 0px;}
.b_main .b_m_btn .b_m_b_right:hover{background-position: -42px 0px;}
.b_main .b_m_tab{width: 100px;height: 10px;position: absolute;right: 30px;bottom: 30px;}
.b_main .b_m_tab li{width:6px;height:6px;background:gray;background: rgba(0,0,0,0.4);border-radius: 50%;border:2px solid #999;float: left;margin:0 4px;cursor: pointer;}
.b_main .b_m_tab li.hover,.b_main .b_m_tab li.click{background: #e5e5e5;border-color:#bbb;}

/*b_nav start*/
.b_nav{width: 235px;height: 420px;background: gray;background:rgba(0,0,0,0.6);position: absolute;top:0;left: 0;padding:20px 0;}
.b_nav>ul>li{height:42px;line-height: 42px;}
.b_nav>ul>li>a{height:42px;display: block;padding-left: 30px;font-size: 14px;color: #fff;}
.b_nav>ul>li>a>i{float: right;margin-right: 24px;font-size: 15px;color: #bbb;}
.b_nav>ul>li:hover{background: #f60;}
.b_nav ul li .b_n_hide{width: 512px;height: 459px;background: #fff;position: absolute;top:0;left: 235px;border-top:1px solid #bbb;box-shadow:0 2px 2px #999;display: none;}
.b_nav ul li ul{width: 250px;height: 447px;padding:6px 0px;float: left;margin-left: 6px;}
.b_nav ul li .b_n_hide  li{height: 74px;line-height: 74px;}
.b_nav ul li .b_n_hide .b_n_h_img{float: left;padding-left: 13px;}
.b_nav ul li .b_n_hide .b_n_h_img img{float: left;margin-top:17px;}
.b_nav ul li .b_n_hide .b_n_h_img span{float: left;padding:0 36px 0 12px;font-size: 14px;color: #333;transition: .3s;}
/*.b_nav ul li .b_n_hide .b_n_h_xg{color:#f60;float: right;width: 60px;height: 24px;border:1px solid #f60;text-align: center;line-height: 24px;margin-top: 25px;margin-right: 10px;transition: .3s;}*/
.b_nav ul li .b_n_hide .b_n_h_img:hover span{color: #f60;}
/*.b_nav ul li .b_n_hide .b_n_h_xg:hover{background: #f60;color: #fff;}*/
/*b_nav end*/
/*b_main*/
/*banner end*/