/* Banner */
.banner {
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    position: relative;
}
/* b_main */
.b_main {
    width: 1226px;
    height: 460px;
    position: relative;
}

.b_main .b_m_pic {
    width: 1226px;
    height: 460px;
}

.b_main .b_m_pic li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.b_main .b_m_pic img {
    width: 1226px;
    height: 460px;
}

.b_main .b_m_btn div {
    width: 41px;
    height: 69px;
    background: red;
    position: absolute;
    top: 50%;
    margin-top: -34px;
    cursor: pointer;
    background: url("../images/index/icon/icon_slides.png") no-repeat;
}

.b_main .b_m_btn .b_m_b_left {
    left: 235px;
    border-radius: 0 2px 2px 0;
    background-position: -84px 0px;
}

.b_main .b_m_btn .b_m_b_right {
    right: 0;
    border-radius: 2px 0 0 2px;
    background-position: -121px 0px;
}

.b_main .b_m_btn .b_m_b_left:hover {
    background-position: 0px 0px;
}

.b_main .b_m_btn .b_m_b_right:hover {
    background-position: -42px 0px;
}

.b_main .b_m_tab {
    width: 100px;
    height: 10px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.b_main .b_m_tab li {
    width: 6px;
    height: 6px;
    background: gray;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    border: 2px solid #999;
    float: left;
    margin: 0 4px;
    cursor: pointer;
}

.b_main .b_m_tab li.hover,.b_main .b_m_tab li.click {
    background: #e5e5e5;
    border-color: #bbb;
}

/* b_nav */
.b_nav {
    width: 235px;
    height: 420px;
    background: gray;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
}

.b_nav>ul>li {
    height: 42px;
    line-height: 42px;
}

.b_nav>ul>li>a {
    height: 42px;
    display: block;
    padding-left: 30px;
    font-size: 14px;
    color: #fff;
}

.b_nav>ul>li>a>i {
    float: right;
    margin-right: 24px;
    font-size: 15px;
    color: #bbb;
}

.b_nav>ul>li:hover {
    background: #f60;
}

.b_nav ul li .b_n_hide {
    width: 800px;
    height: 458px;
    position: absolute;
    top: 0;
    left: 235px;
    border: 1px solid #e0e0e0;
    border-left:0;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    background-color: #ffffff;
    display: none;
}

.b_nav ul li ul {
    width: 248px;
    height: 458px;
    padding: 2px 0;
    float: left;
    margin-left: 6px;
}

.b_nav ul li .b_n_hide  li {
    position: relative;
    float: left;
    width: 265px;
    height: 76px;
}
.b_nav ul li .b_n_hide a{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}
.b_nav ul li .b_n_hide a img{
    margin-right: 12px;
    float:left;
    width:40px;
    height: 40px;
}

.b_nav ul li .b_n_hide a span {
    float: left;
    padding: 0 36px 0 12px;
    font-size: 14px;
    color: #333;
    transition: .3s;
}
.b_nav ul li .b_n_hide a:hover span {
    color: #f60;
}
/* End b_nav */
/* End b_main */
/* End Banner */

/*hot start*/
.hot {
    width: 1226px;
    height: 170px;
    margin: 15px auto;
}

.hot .h_list {
    width: 215px;
    height: 150px;
    background: #5f5750;
    float: left;
    padding: 10px;
}

.hot .h_list li {
    height: 65px;
    width: 60px;
    float: left;
    padding: 5px;
    position: relative;
}

.hot .h_list li.l1:before,.hot .h_list li.l2:before,.hot .h_list li.l4:before,.hot .h_list li.l5:before {
    content: "";
    width: 0;
    height: 64px;
    border-right: 1px solid #665e57;
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
}

.hot .h_list li.l1:after,.hot .h_list li.l2:after,.hot .h_list li.l3:after {
    content: "";
    width: 64px;
    height: 0;
    display: block;
    border-bottom: 1px solid #665e57;
    position: absolute;
    bottom: -3px;
    left: 2px;
}

.hot .h_list li a {
    height: 65px;
    width: 60px;
    display: block;
    text-align: center;
    color: #bbb;
}

.hot .h_list li a .iconfont {
    display: block;
    font-size: 22px;
    padding-top: 14px;
}

.hot .h_list li a .h_l_title {
    display: block;
    padding-top: 6px;
}

.hot .h_img {
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 14px;
}

.hot .h_list li a:hover {
    color: #fff;
}
/*hot end*/

/* purchase */
.purchase {
    width: 1226px;
    height: 600px;
    margin: 0 auto;
}

.purchase .p_title {
    height: 60px;
}

.purchase .p_title .p_t_h2 {
    font-size: 22px;
    font-weight: 200;
    line-height: 60px;
    float: left;
}

.purchase .p_title .p_t_btn {
    width: 71px;
    height: 22px;
    border: 1px solid #bbb;
    float: right;
    margin-top: 19px;
}

.purchase .p_title .p_t_btn div {
    width: 35px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    float: left;
    cursor: default;
}

.purchase .p_title .p_t_btn div.click .iconfont {
    font-weight: bold;
    color: #333;
    transition: .5s;
}

.purchase .p_title .p_t_btn div.click:hover .iconfont {
    color: #f60;
    transition: .5s;
}

.purchase .p_title .p_t_btn div.click:hover {
    cursor: pointer;
}

.purchase .p_title .p_t_btn .iconfont {
    font-size: 12px;
    font-weight: normal;
    color: #bbb;
}

.purchase .p_title .p_t_btn .p_t_b_left {
    border-right: 1px solid #bbb;
}

.purchase .p_goods {
    width: 1226px;
    height: 340px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
.purchase .p_goods .p_g_countdown{
    float: left;
    width: 234px;
    height: 340px;
    box-sizing: border-box;
    background-color: #f1eded;
    margin: 0 14px 0 0;
    padding-top: 39px;
    border-top: 1px solid #e53935;
    text-align: center;
}
.purchase .p_goods .p_g_countdown .p_g_c_title{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
    text-align: center;
}
.purchase .p_goods .p_g_countdown img{
    margin: 25px auto;
}
.purchase .p_goods .p_g_countdown .p_g_c_desc{
    color: rgba(0,0,0,0.54);
    font-size: 15px;
}
.purchase .p_goods .p_g_countdown .p_g_c_time{
    width: 168px;
    margin: 28px auto 0;
}
.purchase .p_goods .p_g_countdown .p_g_c_box{
    width: 46px;
    height: 46px;
    background: #605751;
    color: #fff;
    font-size: 24px;
    line-height: 46px;
    float: left;
}
.purchase .p_goods .p_g_countdown .p_g_c_dosh{
    width: 15px;
    float: left;
    height: 46px;
    line-height: 46px;
    color: #605751;
    font-size: 28px;
}
.purchase .p_goods .p_g_list{
    float: left;
    width:975px;
    height: 340px;
    position: relative;
    overflow: hidden;
}
.purchase .p_goods .p_g_list ul{
    width: 1984px;
}
.purchase .p_goods .p_g_list li{
    float: left;
    width: 234px;
    height: 300px;
    margin-right: 14px;
    padding-top: 39px;
    border-top: 1px solid #ffac13;
    text-align: center;
    background-color: rgba(0,0,0,0.02);;
}
.purchase .p_goods .p_g_list li a{
    display: block;
    width: 160px;
    margin: 0 auto 22px;
}
.purchase .p_goods .p_g_list li a img{
    width: 160px;
    height: 160px;
    border:0;
}
.purchase .p_goods .p_g_list h3{
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.purchase .p_goods .p_g_list .p_g_l_desc{
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #b0b0b0;
}
.purchase .p_goods .p_g_list .p_g_l_price span{
    color: #ff6709;
    margin-right: 5px;
}
.common_banner {
    width: 1226px;
    height: 120px;
    margin-top: 28px;
    margin-bottom: 22px;
}

.common_banner img {
    width: 1226px;
    height: 120px;
    display: block;
    margin: 0 auto;
}
/* End purchase */

/* bgColor */
#bgColor {
    padding-bottom: 50px;
    width: 100%;
    background: #fafafa;
    margin-top: 30px;
    padding-top: 30px;
    min-width: 1226px;
}

/* Phone */
.phone {
    width: 1226px;
    margin: 0 auto;
}

.phone .p_title {
    height: 56px;
    line-height: 56px;
}

.phone .p_title h2 {
    font-weight: 200;
    float: left;
}

.phone .p_title a {
    float: right;
    font-size: 16px;
    color: #111;
    transition: .3s;
}

.phone .p_title a .iconfont {
    font-size: 22px;
    color: #bbb;
    margin-left: 8px;
    transition: .3s;
}

.phone .p_title a:hover {
    color: #f60;
}

.phone .p_title a:hover .iconfont {
    color: #f60;
}

.phone .p_content {
    height: 614px;
    padding-bottom: 15px;
}

.phone .p_content li {
    width: 234px;
    height: 300px;
    background: #fff;
    float: left;
    margin-right: 10px;
    position: relative;
    transition: .3s;
    position: relative;
    top: 0;
}
.phone .p_content li:hover {
    box-shadow: 0 10px 20px #ddd;
    top: -2px;
}

.phone .p_content li.left {
    width: 234px;
    height: 614px;
}
.phone .p_content li.left img{
    width: 234px;
    height: 614px;
}

.phone .p_content li.p_c_bottom {
    margin-bottom: 14px;
}

.phone .p_content li a {
    display: block;
}

.phone .p_content li a.p_c_img {
    padding: 20px 37px;
}

.phone .p_content li a.p_c_img img {
    width: 160px;
    height: 160px;
}

.phone .p_content li a.p_c_title {
    text-align: center;
    color: #111;
    font-size: 14px;
}

.phone .p_content li .p_c_detail {
    text-align: center;
    margin: 2px 0 12px;
    color: #bbb;
}

.phone .p_content li .p_c_price {
    text-align: center;
    color: #f60;
}

/* End Phone */

/* Household */
.household {
    width: 1226px;
    margin: 20px auto;
}

h2 {
    font-size: 22px;
    font-weight: normal;
}

.household .h_title {
    width: 1226px;
    height: 56px;
}

.household .h_title .h_t_h2 {
    font-weight: 200;
    line-height: 56px;
    float: left;
}

.household .h_title ul {
    float: right;
    margin-top: 15px;
}

.household .h_title ul li {
    float: left;
    font-size: 16px;
    margin-left: 30px;
    line-height: 24px;
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent
}

.household .h_title ul li.hover {
    border-bottom: 2px solid #ff6700;
    color: #ff6700
}

.household .h_con {
    height: 614px;
    width: 1226px;
}

.household .h_con .h_c_left {
    width: 234px;
    height: 614px;
    float: left;
}

.household .h_con .h_c_left img{
    width: 234px;
    height: 300px;
}

.household .h_con .h_c_left a {
    display: block;
    transition: .4s;
    position: relative;
    top: 0px;
}

.household .h_con .h_c_left a:hover {
    box-shadow: 0 10px 20px #ddd;
    top: -2px;
}

.household .h_con .h_c_left a.h_c_l_top {
    margin-bottom: 14px;
}

.household .h_con .h_c_right {
    width: 992px;
    height: 614px;
    float: left;
    position: relative;
}

.household .h_con .h_c_right ul {
    width: 992px;
    height: 614px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.household .h_con .h_c_right ul li {
    width: 234px;
    height: 300px;
    background: #fff;
    float: left;
    margin-left: 14px;
    position: relative;
    top: 0px;
    overflow: hidden;
    transition: .4s;
}

.household .h_con .h_c_right ul li:hover {
    box-shadow: 0 10px 20px #ddd;
    top: -2px;
}

.household .h_con .h_c_right ul li.h_c_bottom {
    margin-bottom: 14px;
}

.household .h_con .h_c_right ul li.h_c_eight,.household .h_con .h_c_right ul li.h_c_nine {
    width: 234px;
    height: 143px;
}

.household .h_con .h_c_right ul li.h_c_eight {
    margin-bottom: 14px;
}

.household .h_con .h_c_right ul li .h_c_r_img {
    display: block;
    padding: 34px 42px 24px;
}

.household .h_con .h_c_right ul li .h_c_r_img img {
    width: 150px;
    height: 150px;
}

.household .h_con .h_c_right ul li .h_c_r_title {
    display: block;
    text-align: center;
    color: #111;
    font-size: 14px
}

.household .h_con .h_c_right ul li .h_c_r_price {
    text-align: center;
    color: #f60;
    margin: 2px 0 8px;
}
.household .h_con .h_c_right ul li .h_c_hide{
    bottom: -74px;
    opacity: 0;
}

.household .h_con .h_c_right ul li .h_c_r_comment {
    text-align: center;
    color: #bbb;
}

.household .h_con .h_c_right ul li.h_c_eight .h_c_e_title {
    width: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 14px;
    color: #111;
    position: absolute;
    top: 50px;
    left: 30px;
}

.household .h_con .h_c_right ul li.h_c_eight .h_c_e_img {
    display: block;
    position: absolute;
    right: 30px;
    top: 40px;
}

.household .h_con .h_c_right ul li.h_c_eight .h_c_e_img img {
    width: 80px;
    height: 80px;
}

.household .h_con .h_c_right ul li.h_c_eight .h_c_e_price {
    position: absolute;
    left: 30px;
    top: 74px;
    color: #f60;
    font-size: 14px;
}

.household .h_con .h_c_right ul li.h_c_nine .h_c_n_more {
    font-size: 20px;
    position: absolute;
    top: 50px;
    left: 30px;
    color: #111;
}

.household .h_con .h_c_right ul li.h_c_nine .h_c_n_ear {
    color: #bbb;
    position: absolute;
    top: 76px;
    left: 30px;
}

.household .h_con .h_c_right ul li.h_c_nine .iconfont {
    font-size: 50px;
    color: #f60;
    position: absolute;
    right: 44px;
    top: 40px;
}

.household .h_con .h_c_right ul li .h_c_hide {
    width: 174px;
    height: 54px;
    background: #f60;
    position: absolute;
    bottom: -74px;
    left: 0;
    padding: 10px 30px;
}

.household .h_con .h_c_right ul li .h_c_hide .review {
    color: #fff;
    display: block;
}

.household .h_con .h_c_right ul li .h_c_hide .author {
    color: rgba(255,255,255,.6);
}
/* End household */

/* recomend */
.recommend{width: 1226px;height: 400px;margin: 0 auto;}
.recommend .r_title{height: 60px;}
.recommend .r_title .r_t_h2{font-size: 22px;font-weight: 200;line-height:60px;float: left;}
.recommend .r_title .r_t_btn{width:71px;height:22px;border:1px solid #bbb;float: right;margin-top: 19px;}
.recommend .r_title .r_t_btn div{width:35px;height: 22px;line-height: 22px;text-align: center;float: left;cursor: default;}
.recommend .r_title .r_t_btn div.click .iconfont{font-weight:bold;color: #333;transition: .5s;}
.recommend .r_title .r_t_btn div.click:hover .iconfont{color: #f60;transition: .5s;}
.recommend .r_title .r_t_btn div.click:hover{cursor: pointer;}
.recommend .r_title .r_t_btn .iconfont{font-size: 12px;font-weight: normal;color: #bbb;}
.recommend .r_title .r_t_btn .r_t_b_left{border-right: 1px solid #bbb;}
.recommend .r_goods{width:1226;height: 340px;position: relative;overflow: hidden;}
.recommend .r_goods ul{width: 1000%;}
.recommend .r_goods li{width: 234px;height:340px;background: #ffffff;float: left;margin-right: 14px;}
.recommend .r_goods li .r_g_img{width: 160px;height: 160px;display: block;padding:36px 0;margin:0 auto;}
.recommend .r_goods li .r_g_img img{width: 160px;height: 160px;}
.recommend .r_goods li .r_g_title{display: block;text-align: center;color: #000;}
.recommend .r_goods li .r_g_detail{text-align: center;color: #bbb;margin:8px 0 16px;}
.recommend .r_goods li .r_g_price{text-align: center;color: #f60;}
/* End recomend */

/*comment start*/
.comment {
    width: 1226px;
    height: 470px;
    margin: 0 auto;
}

.comment .c_title {
    font-weight: 200;
    height: 54px;
    line-height: 54px;
}

.comment .c_con {
    height: 416px;
}

.comment .c_con li {
    width: 296px;
    height: 416px;
    background: #fff;
    float: left;
    margin-right: 14px;
    position: relative;
    top: 0;
    transition: .4s;
}

.comment .c_con li:hover {
    box-shadow: 0 10px 20px #ddd;
    top: -4px;
}

.comment .c_con li a {
    display: block;
}

.comment .c_con li a.c_c_img img {
    width: 296px;
    height: 220px;
}

.comment .c_con li a.c_c_detail {
    color: #111;
    font-size: 14px;
    margin: 30px 30px 30px;
}

.comment .c_con li .c_c_comment {
    margin-left: 30px;
    margin: 30px 0 16px 30px;
    color: #bbb;
}

.comment .c_con li a.c_c_title {
    margin-left: 30px;
    font-size: 14px;
    color: #111;
}

.comment .c_con li a.c_c_title .space {
    margin: 0 10px;
    color: #bbb;
}

.comment .c_con li a.c_c_title .price {
    color: #f60;
}
/*comment end*/
/*cotent start*/
.content {
    width: 1226px;
    height: 480px;
    margin: 30px auto;
}

.content .c_title {
    font-weight: 200;
    height: 60px;
    line-height: 60px;
}

.content .c_con {
    height: 420px;
}

.content .c_con .c_c_li {
    width: 296px;
    height: 419px;
    background: #fff;
    float: left;
    margin-right: 14px;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: .3s;
    border-top: 1px solid #ffac13;
}

.content .c_con .c_c_li:hover {
    top: -3px;
    box-shadow: 0 10px 20px #ddd;
}

.content .c_con .c_c_li h3 {
    font-size: 16px;
    margin: 50px 0 26px;
    text-align: center;
}

.content .c_con .c_c_li .box_wrap {
    width: 500%;
    height: 320px;
}

.content .c_con .c_c_li .box_wrap .box {
    width: 296px;
    height: 320px;
    float: left;
}

.content .c_con .c_c_li .box_wrap .box a {
    display: block;
}

.content .c_con .c_c_li .box_wrap .box a.c_c_title {
    text-align: center;
    color: #222;
    font-size: 20px;
}

.content .c_con .c_c_li .box_wrap .box a.c_c_detail {
    margin: 10px 50px 20px;
    text-align: center;
    color: #bbb;
}

.content .c_con .c_c_li .box_wrap .box a.c_c_price {
    margin: 0 0 20px;
    text-align: center;
    color: #111;
    text-align: center;
}

.content .c_con .c_c_li .box_wrap .box a.c_c_img img {
    margin: 0 auto;
    width: 216px;
    height: 154px;
}

.content .c_con .c_c_li .tab {
    width: 110px;
    height: 12px;
    position: absolute;
    bottom: 26px;
    left: 50%;
    margin-left: -55px;
}

.content .c_con .c_c_li .tab li {
    width: 6px;
    height: 6px;
    background: gray;
    float: left;
    border-radius: 50%;
    margin: 3px 10px;
}

.content .c_con .c_c_li .tab li:hover {
    background: #f60;
    cursor: pointer;
}

.content .c_con .c_c_li .tab li.on {
    border: 2px solid #f60;
    background: #fff;
    margin: 1px 8px;
    transition: background .5s ease;
}

.content .c_con .c_c_li .btn {
    display: none;
}

.content .c_con .c_c_li .btn div {
    width: 20px;
    height: 46px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 50%;
    margin-top: -23px;
    text-align: center;
    line-height: 46px;
    color: #e5e5e5;
    transition: background .4s;
}

.content .c_con .c_c_li .btn div:hover {
    color: #fff;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}
/*content end*/

/* Video */
.video {
    height: 350px;
    width: 1226px;
    margin:0 auto;
}
.video .v_title {
    height:64px;
    line-height: 64px;
}
.video .v_title .v_t_h2 {
    font-weight: 200;
    float: left;
}
.video .v_title a {
    float: right;
    color: #111;
    font-size: 16px;
    transition: .3s;
}
.video .v_title a .iconfont {
    font-size: 22px;
    margin-left:8px;
    color: #bbb;
    transition: .3s;
}
.video .v_title a:hover {
    color:#ff6700
}
.video .v_title a:hover .iconfont {
    color: #ff6700;
}
.video .v_con {
    height: 286px;
}
.video .v_con li {
    width: 296px;
    height: 286px;
    background: #fff;
    float: left;
    margin-right: 14px;
    text-align: center;
    position: relative;
    top:0;
    transition: .3s;
}
.video .v_con li img {
    display: block;
    cursor: pointer;
}
.video .v_con li a {
    margin:30px 0 12px;
    display: block;
    color: #111;
    transition: .3s
}
.video .v_con li a:hover {
    color: #f60;
}
.video .v_con li p {
    color: #bbb;
}
.video .v_con li span {
    display: block;
    width: 36px;
    height: 22px;
    border:1px solid #fff;
    position: absolute;
    top:140px;
    left:20px;
    color: #fff;
    border-radius: 11px;
    text-align: center;
    line-height: 22px;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}
.video .v_con li span.hover {
    background:#ff6700;
    border-color: #ff6700;
}
.video .v_con li:hover {
    box-shadow: 0 10px 20px #ddd;
    top:-2px;
}
.video .v_hide {
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.3);
    display: none;
}
.video .v_hide .v_h_con {
    width: 880px;
    height: 600px;
    background: #fff;
    position: absolute;
    top:-20%;
    left:50%;
    margin-top:-300px;
    margin-left: -440px;
    display: none;
}
.video .v_hide .v_h_con .v_h_c_title {
    height:60px;
    line-height: 60px
}
.video .v_hide .v_h_con .v_h_c_title .v_h_c_h2 {
    float: left;
    margin-left: 10px;
    font-weight: 300;
}
.video .v_hide .v_h_con .v_h_c_title .close {
    float: right;
    width:30px;
    height: 30px;
    background: transparent;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-top:15px;
    color: gray;
    margin-right: 10px;
    transition:background .3s;
}
.video .v_hide .v_h_con .v_h_c_title .close:hover {
    cursor:pointer;
    background: red;
    color:#fff;
}
.video .v_hide .v_h_con .v_h_c_content {
    height:540px;
}
.video .v_hide .v_h_con .v_h_c_content iframe {
    width: 100%;
    height: 100%;
}

/* End video */


/*bgColor end*/

