*{
    margin:0;
    padding:0;
    font-family: "microsoft yahei";
}
body{
    /*min-width: 1226px;*/
}
a{
    text-decoration: none;
}
/*header*/
.header{
    width:100%;
    height:100px;
    background-color: #1a1c2f;
}
.h_topnav{
    width:1220px;
    height:100px;
    margin:0 auto;
    background-color: #1a1c2f;
}
.h_t_logo{
    width:300px;
    height:100px;
    float:left;
}
.h_t_logo img{
    width:200px;
    height:100px;
}
.h_t_list{
    float:right;
    list-style: none;
}

.h_t_list li{
    width:45px;
    height:100px;
    float:left;
    text-align: center;
    line-height: 100px;
    color: #adadad;
}
.h_t_list a{
    display: inline-block;
    color:#adadad;
}
.h_t_list span{
    font-size: 15px;
}
.h_t_l_homepage a{
    color:white;
}
.h_t_list .h_t_l_guidance{
    width:140px;
}
.h_t_list a:hover{
    color:white;
}
.h_clearfix{
    clear:both;
}
/*end header*/
/*content*/
.content{
    width:100%;
    height:3868px;
}
.c_top{
    width:100%;
    height:527px;
    background-color:#f0f0f0 ;
}
.c_t_terrace{
    width:1220px;
    height:527px;
    margin:0 auto;
    background: url(../images/IoT/banner_terrace.png) no-repeat;
    background-size: 1220px 527px;
    position: relative;
}
.c_t_t_text{
    width:280px;
    height:141px;
    position: absolute;
    top:100px;
    left:60px;
}
.c_t_t_t_title{
    width:280px;
    height:30px;
    font-size: 29px;
    font-weight: 900;
    line-height: 30px;
    margin-bottom: 20px;
    color:#47b180;
}
.c_t_t_t_connect{
    width:280px;
    height:19px;
    font-size: 19px;
    color:#7b7b7b;
    margin-bottom: 30px;
}
.c_t_t_t_become{
    display: block;
    width:143px;
    height:43px;
    color:white;
    font-size: 15px;
    text-align: center;
    line-height: 43px;
    background-color: #47b180;
    border-radius: 4px;
}
.c_procedure{
    width:100%;
    height:1045px;
    position:relative;
    background-color: white;
}
/*solution*/
.c_p_solution{
    width:1220px;
    height:339px;
    margin:0 auto;
    position: relative;
}
.c_p_s_text{
    width:1200px;
    height:58px;
    box-sizing: border-box;
    padding-top:38px;
    padding-left:18px;
}
.c_p_s_t_cn{
    font-size: 20px;
    color: #4d4d4d;
    line-height: 20px;
}
.c_p_s_t_en{
    font-size:10px;
    color:#999999;
    margin-left: 15px;
}
.c_p_s_engineering{
    width:1220px;
    height:221px;
    margin-top:60px;
    position: relative;
    z-index: 3;
}
.c_p_s_engineering p{
    width:1220px;
    height:22px;
    font-size: 22px;
    text-align: center;
    line-height: 22px;
}
.c_p_s_e_wifi{
    width:124px;
    height:124px;
    position: absolute;
    top:39px;
    left:545px;
}
.c_p_s_e_connect{
    width:8px;
    height:38px;
    position: absolute;
    top:185px;
    left:604px;
}
.c_p_s_e_light{
    width:50px;
    height:50px;
    position: absolute;
    top:243px;
    left:-9px;
    border-radius: 50%;
}
.c_p_s_e_set{
    width:104px;
    height:140px;
    position: absolute;
    top:223px;
    left:113px;
}
.c_p_s_e_set img{
    width:104px;
    height: 104px;
}
.c_p_s_e_set p{
    width:104px;
    height:16px;
    margin-top: 14px;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    color:#4c4c4c;
}
.c_p_s_e_socket{
    width:50px;
    height:50px;
    position: absolute;
    top:299px;
    left:279px;
    border-radius: 50%;
}
.c_p_s_e_linux{
    width:104px;
    height:140px;
    position: absolute;
    top:257px;
    left:398px;
}
.c_p_s_e_linux img{
    width:104px;
    height: 104px;
}
.c_p_s_e_linux p{
    width:104px;
    height:16px;
    margin-top: 14px;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    color:#4c4c4c;
}
.c_p_s_e_camera{
    width:50px;
    height:50px;
    position: absolute;
    top:240px;
    left:584px;
    border-radius: 50%;
}
.c_p_s_e_android{
    width:104px;
    height:140px;
    position: absolute;
    top:257px;
    right:398px;
}
.c_p_s_e_android img{
    width:104px;
    height: 104px;
}
.c_p_s_e_android p{
    width:104px;
    height:16px;
    margin-top: 14px;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    color:#4c4c4c;
}
.c_p_s_e_box{
    width:50px;
    height:50px;
    position: absolute;
    top:299px;
    right:279px;
    border-radius: 50%;
}
.c_p_s_e_protocolconnection{
    width:104px;
    height:140px;
    position: absolute;
    top:223px;
    right:113px;
}
.c_p_s_e_protocolconnection img{
    width:104px;
    height: 104px;
}
.c_p_s_e_protocolconnection p{
    width:104px;
    height:16px;
    margin-top: 14px;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    color:#4c4c4c;
}
.c_p_s_e_route{
    width:50px;
    height:50px;
    position: absolute;
    top:248px;
    right:-9px;
    border-radius: 50%;
}
.c_p_wavecontainer{
    width:100%;
    height:166px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}
.c_p_w_wave{
    width:3000px;
    height:166px;
    overflow:hidden;
    position: absolute;
    left:50%;
    margin-left: -1500px;
    background: url(../images/IoT/bg_wave.jpg) repeat-x;
    background-position: 300px 0;
}
/*end solution*/
.c_p_bleecontainer{
    width:100%;
    height:500px;
    position: absolute;
    bottom:0;
    background-color: #e6f9ff;
}
.c_p_b_bleequipment{
    width:1226px;
    height:500px;
    margin:0 auto;
    box-sizing: border-box;
    padding-top:100px;
    position: relative;
}
.c_p_b_b_bletext{
    width:1226px;
    height:21px;
    font-size: 21px;
    text-align: center;
    line-height: 21px;
    color:#4c4c4c;
    margin-bottom: 28px;
}
.c_p_b_b_list{
    width:1220px;
    height:124px;
}
.c_p_b_b_l_mible {
    width: 104px;
    height: 212px;
    position: absolute;
    top: 160px;
    left:372px;
}
.c_p_b_b_l_mible img{
    width:104px;
    height:104px;
}
.c_p_b_b_l_mible p{
    width:104px;
    height:36px;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    color:#4a4a4a;
}
.c_p_b_b_l_link1{
    width:38px;
    height:8px;
    position: absolute;
    top:210px;
    left:490px;
}
.c_p_b_b_l_ble{
    width:124px;
    height:124px;
    position: absolute;
    top:150px;
    left:540px;
}
.c_p_b_b_l_link2{
    width:38px;
    height:8px;
    position: absolute;
    top:210px;
    right:490px;
}
.c_p_b_b_l_mibeacon{
    width: 104px;
    height: 176px;
    position: absolute;
    top: 160px;
    right:372px;
}
.c_p_b_b_l_mibeacon img{
    width:104px;
    height:104px;
}
.c_p_b_b_l_mibeacon p{
    width:104px;
    height:36px;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    color:#4a4a4a;
}
/*sprocesse*/
.c_sprocesse{
    width:1220px;
    height:496px;
    margin:0 auto;
    position: relative;
    background-color: white;
}
.c_s_text{
    width:1200px;
    height:58px;
    box-sizing: border-box;
    padding-top:38px;
    padding-left:18px;
}
.c_s_t_cn{
    font-size: 20px;
    color: #4d4d4d;
    line-height: 20px;
}
.c_s_t_en{
    font-size:10px;
    color:#999999;
    margin-left: 15px;
}
.c_s_engineering{
    width:1220px;
    height:221px;
    margin-top:100px;
}
.c_s_e_developer{
    width: 124px;
    height: 164px;
    position: absolute;
    top: 175px;
    left:202px;
}
.c_s_e_developer img{
    width:124px;
    height:124px;
    margin-bottom: 10px;
}
.c_s_e_developer p{
    width:124px;
    height:30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:#4a4a4a;
}
.c_s_e_fivelink{
    width:52px;
    height:4px;
    position: absolute;
    top:230px;
    right:814px;
}
.c_s_e_programme{
    width: 124px;
    height: 164px;
    position: absolute;
    top: 175px;
    left:434px;
}
.c_s_e_programme img{
    width:124px;
    height:124px;
    margin-bottom: 10px;
}
.c_s_e_programme p{
    width:124px;
    height:30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:#4a4a4a;
}
.c_s_e_fivelink2{
    width:52px;
    height:4px;
    position: absolute;
    top:230px;
    left:583px;
}
.c_s_e_development{
    width: 124px;
    height: 164px;
    position: absolute;
    top: 175px;
    right:434px;
}
.c_s_e_development img{
    width:124px;
    height:124px;
    margin-bottom: 10px;
}
.c_s_e_development p{
    width:124px;
    height:30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:#4a4a4a;
}
.c_s_e_fivelink3{
    width:52px;
    height:4px;
    position: absolute;
    top:230px;
    left:814px;
}
.c_s_e_batch{
    width: 124px;
    height: 164px;
    position: absolute;
    top: 175px;
    right:202px;
}
.c_s_e_batch img{
    width:124px;
    height:124px;
    margin-bottom: 10px;
}
.c_s_e_batch p{
    width:124px;
    height:30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:#4a4a4a;
}
/*end sprocesse*/
/*resources*/
.c_resources{
    width:1220px;
    height:496px;
    margin:0 auto;
    position: relative;
}
.c_r_text{
    width:1200px;
    height:58px;
    box-sizing: border-box;
    padding-top:38px;
    padding-left:18px;
}
.c_r_t_cn{
    font-size: 20px;
    color: #4d4d4d;
    line-height: 20px;
}
.c_r_t_en{
    font-size:10px;
    color:#999999;
    margin-left: 15px;
}
.c_r_engineering{
    width:1220px;
    height:221px;
    margin-top:100px;
}
.c_r_e_technology{
    width: 124px;
    height: 164px;
    position: absolute;
    top: 175px;
    left:202px;
}
.c_r_e_technology img{
    width:124px;
    height:124px;
    margin-bottom: 10px;
}
.c_r_e_technology p{
    width:124px;
    height:30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:#4a4a4a;
}
.c_r_e_interconnection{
    width: 124px;
    height: 164px;
    position: absolute;
    top: 175px;
    left:434px;
}
.c_r_e_interconnection img{
    width:124px;
    height:124px;
    margin-bottom: 10px;
}
.c_r_e_interconnection p{
    width:124px;
    height:30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:#4a4a4a;
}
.c_r_e_cloud{
    width: 124px;
    height: 164px;
    position: absolute;
    top: 175px;
    right:434px;
}
.c_r_e_cloud img{
    width:124px;
    height:124px;
    margin-bottom: 10px;
}
.c_r_e_cloud p{
    width:124px;
    height:30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:#4a4a4a;
}
.c_r_e_extension{
    width: 124px;
    height: 164px;
    position: absolute;
    top: 175px;
    right:202px;
}
.c_r_e_extension img{
    width:124px;
    height:124px;
    margin-bottom: 10px;
}
.c_r_e_extension p{
    width:124px;
    height:30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color:#4a4a4a;
}
/*resources*/
/*example*/
.c_example{
    width:100%;
    height:1304px;
    background-color: #ededed;
}
/*cases*/
.c_e_cases{
    width:1220px;
    height:584px;
    margin:0 auto;
    position: relative;
}
.c_e_c_text{
    width:1200px;
    height:58px;
    box-sizing: border-box;
    padding-top:38px;
    padding-left:18px;
}
.c_e_c_t_cn{
    font-size: 20px;
    color: #4d4d4d;
    line-height: 20px;
}
.c_e_c_t_en{
    font-size:10px;
    color:#999999;
    margin-left: 15px;
}
.c_e_c_engineering{
    width:1220px;
    height:432px;
    margin-top:100px;
}
.c_e_c_engineering img{
    width:305px;
    height:432px;
    float:left;
}
.c_e_c_clear{
    clear:both;
}
/*end cases*/
/*partners*/
.c_e_partners{
    width:1220px;
    height:602px;
    margin:0 auto;
    position: relative;
}
.c_e_p_text{
    width:1200px;
    height:58px;
    box-sizing: border-box;
    padding-top:38px;
    padding-left:18px;
}
.c_e_p_t_cn{
    font-size: 20px;
    color: #4d4d4d;
    line-height: 20px;
}
.c_e_p_t_en{
    font-size:10px;
    color:#999999;
    margin-left: 15px;
}
.c_e_p_engineering{
    width:1220px;
    height:535px;
    margin-top:50px;
    background-color: white;
}
.c_e_p_e_firm{
    list-style: none;
}
.c_e_p_e_firm li{
    width:305px;
    height:134px;
    float:left;
    border:1px solid #f5f5f5;
    box-sizing: border-box;
    padding-top: 22px;
    padding-left:22px;
    padding-right:22px;
    position: relative;
    transition: 1s;
}
.c_e_p_e_firm img{
    display: block;
    margin:0 auto;
    width:184px;
    height:50px;
}
.c_e_p_e_firm a{
    display: block;
    width:184px;
    height:40px;
    margin: auto;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color:#676767;
}
.c_e_p_e_firm a:hover{
    color:#3498db;
}
.c_e_p_e_firm li:hover{
    top:-1px;
    box-shadow: 0 10px 30px #dddddd;
    transform:translate3d(0,0,10px);
}
.c_e_p_e_clear{
    clear:both;
}
/*end partners*/
/*end example*/
/*end content*/
/*footer*/
.footer{
    width:100%;
    height:190px;
    background-color: #424242;
}
.f_container{
    width:1220px;
    height:190px;
    box-sizing: border-box;
    padding-top: 78px;
    margin:0 auto;
}
.f_container p{
    width:500px;
    height:20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin:0 auto;
    color:#ffffff;
}
.f_container ul{
    width:410px;
    height:20px;
    list-style: none;
    margin:0 auto;
}
.f_container ul li{
    float:left;
    font-size: 14px;
    line-height: 12px;
    color:#ffffff;
    margin-left: 10px;
}
.f_container ul a{
    color:#ffffff;
}
.f_c_clear{
    clear:both;
}
/*end footer*/