*{
    margin: 0;
    padding: 0;
    font-family:Microsoft YaHei;
}
a{
    text-decoration: none;
}
.content{
    width:100% ;
    margin: 0 auto;
}
.c_decorate{
    width:100%;
    min-width: 1126px;
    height:640px;
    background:url(../images/jr/banner_jr.jpg) no-repeat center;
    background-size: cover;
}
.c_decorate p{
    width: 1126px;
    height:244px;
    margin:0 auto;
    box-sizing: border-box;
    padding-top:190px;
    font-size: 52px;
    color: white;
   text-align: center;
    line-height: 50px;
}
.c_d_download{
    width: 1126px;
    height: 96px;
    margin:0 auto;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    padding-top: 36px;
}
.c_d_download a{
    display: block;
    width: 260px;
    height:60px;
    margin: auto;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    color: white;
    background-color: #f93f2b;
}
/*理财、贷款、保险*/
.sub_content{
    width:1146px ;
    height: 452px;
    position: relative;
    border: 1px solid #ececec;;
    top: -80px;
    margin: 0 auto;
    box-sizing: border-box;
    padding:35px 30px 40px;
    background-color: white;
}
.sub_content_clum {
    background-color: white;
    margin: 0 auto;
    list-style: none;
}
.sub_content_clum li {
    width: 360px;
    height: 410px;
    float: left;
}
.s_c_c_a_intro{
    width:340px;
    height:180px;
    background-size: 100%;
    box-sizing: border-box;
    padding:30px;
}
.money{
    background:url(../images/jr/title_container1.png) no-repeat;
}
.loans{
    margin:0 auto;
    background:url(../images/jr/title_container2.png) no-repeat;
}
.insurance{
    margin-left:19px;
    background:url(../images/jr/title_container3.png) no-repeat;
}
.s_c_c_a_intro p{
    width:100%;
    height:48px;
    box-sizing: border-box;
    padding-top:10px;
    font-size:31px;
    color:white;
}
.s_c_c_a_message{
    width:100%;
    height:230px;
    box-sizing: border-box;
    padding:26px 30px;
}
.s_c_c_a_message p{
    width:100%;
    height:20px;
    margin-bottom: 14px;
    font-size:15px;
    color:#666666;
}
.first span{
    color:#ff6f3d;
}
.second span{
    color:#4481c8;
}
.third{
    padding-left:50px;
}
.third span{
    color:#0db27b;
}
.s_c_c_a_message .s_c_c_a_m_more{
    width:100%;
    height:50px;
    margin-top:40px;
    border-top:1px solid #ececec;
    text-align: center;
    line-height: 70px;
    color:#ff6f3d;
}