
*{
    margin:0;
    padding:0;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "微軟正黑體", "儷黑 Pro", sans-serif;

}
a{
    text-decoration: none;
}
body {
    font-size: 14px;
}
.head{
    width:100%;
    height:98px;
}
.h_panel{
    width:1130px;
    height:98px;
    margin:auto;

}
.h_logo{
    width:200px;
    height:98px;
}
.h_logo img{
    width:100%;
    height:100%;
}
.wrap{
    width:100%;
    height:588px;
    background:url(../images/login/login-background.jpg) no-repeat;
    background-position-x:center;
    background-position-y:top ;
}
.layout_panel{
    width:1130px;
    height:588px;
    margin:auto;

}
.wrap .layout_panel .login-main{
    width:410px;
    height:524px;
    float:right;
    margin-top:30px;
    position:relative;
    background-color: white;
}
.login-type-box{
    width:410px;
    height:83px;
    box-sizing: border-box;
    padding:27px 0 24px;
}
.login-type-box .list {
    margin-left: 59px;
    list-style: none;
}
.login-type-box .list li{
    width:110px;
    height:32px;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    float:left;
}
.list .l_account a{
    color:#f56600;
}
.login-type-box .list .link{
    width:70px;
    font-size: 30px;
    line-height: 25px;
    color:#e0e0e0;
}
.l_qrcode{
    position:relative;
}
.l_q_qrcode{
    width:410px;
    height:315px;
    background-color: white;
    box-sizing: border-box;
    padding-top: 100px;
    position: absolute;
    right:-61px;
    top:32px;
    z-index: 10;
    display: none;
}
.l_q_qrcode img{
    display: block;
    width:181px;
    height:181px;
    margin:0 auto;
}
.l_q_qrcode p{
    width: 410px;
    margin-top:14px;
    font-size:14px;
    color:#757575;
    line-height: 22px;
    text-align: center;
}
.l_q_qrcode span{
    color:#ff6700;
}
.l_qrcode:hover a{
    color:#f56600;
}
.l_qrcode:hover .l_q_qrcode{
    display: block;
}
/*注册框中部*/
form{
    width:410px;
    height:227px;
    margin:auto
}
.login-box{
    width:348px;
    height:227px;
    margin:0 auto;
}
.login-box input{
    width:346px;
    height:48px;
    font-size: 14px;
    outline:none;
    border:1px solid #e0e0e0;
}
.account{
    box-sizing: border-box;
    padding-left: 12px;
}
.password{
    margin-top:15px;
    box-sizing: border-box;
    padding-left: 12px;
}
.button{
    margin-top: 25px;
    background-color: #ef5b00;
    color:#ffffff;
    border:transparent;
}
/*表单尾部*/
.other{
    height:20px;
    margin-top:8px;
}
.other1{
    width:116px;
    height:20px;
    float:left;
    font-size:14px;

}
.other1 a{
    color:#ef5b00;
}
.other2{
    height:20px;
    float:right;
    font-size:14px;
}
.other2 a{
    color:#757575;
}
.other2 span{
    color:#757575;
}
.type-login{
    width:348px;
    height:30px;
    /*border:1px solid black;*/
    position:absolute;
    left:31px;
    bottom:66px;
    text-align: center;
    color:#757575;
}

.type-links{
    width:348px;
    height:36px;
    /*border:1px solid black;*/
    position:absolute;
    left:31px;
    bottom:30px;
    background:url(../images/login/loginway.PNG) no-repeat 50px 0;
}
.footer{
    width:1286px;
    height:215px;
    /*border:1px solid black;*/
    position:relative;
}
.select{
    width:1288px;
    height:20px;
    /*border:1px solid black;*/
    position:absolute;
    bottom:44px;
}
/*ul{*/
    /*position:absolute;*/
    /*left:500px;*/
    /*bottom:-10px;*/
/*}*/
li {
    display:inline-block;
    list-style:none;
}
li a{
    color:#757575;
}
.simple{
    color:#333333;
}
.introduce{
    width:1288px;
    height:44px;
    /*border:1px solid black;*/
    position:absolute;
    bottom:0;
}

.nf-intro {
    padding: 10px;
    position:absolute;;
    left:450px;
    bottom:1px;
}
.introduce p{
    color:#757575;
}