/* Container */
/* subnav */
.subnav{
    width: 100%;
    height: 65px;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    /*background-color:pink;*/
}
.subnav .s_wrapper{
    width: 1226px;
    height: 65px;
    margin: 0 auto;
    /*background-color: palegreen;*/
}
.subnav .s_wrapper h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    color: #212121;
    float: left;
}
.subnav .s_wrapper .s_w_left{
    float: left;
    margin-left: 5px;
    font-size: 12px;
    margin-top: 21px;
}
.subnav .s_wrapper .s_w_left a{
    color: #616161;
}
.subnav .s_wrapper .s_w_right{
    float: right;
    margin: 17px 0 0 0;
    font-size: 15px;
}
.subnav .s_wrapper .s_w_right li{
    float: left;
}
.subnav .s_wrapper .s_w_right li a{
    color: #616161;
}
.subnav .s_wrapper .s_w_right li span{
    margin-left: 6px;
    margin-right: 6px;
    color: #e0e0e0;
}
/* End subnav */
/* description */
.description{
    width: 1226px;
    height: 1132px;
    padding: 32px 0;
    margin: 0 auto;
}
.description .d_view{
    float: left;
    width: 606px;
    height: 600px;
    /*background-color: snow;*/
}
.description .d_parameter{
    float: right;
    width: 606px;
    height: 1132px;
    /*background-color: snow;*/
}
.description .d_parameter .d_p_title {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    color: #212121;
}
.description .d_parameter .d_p_tip{
    color: #b0b0b0;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    font-size: 14px;
}
.description .d_parameter .d_p_tip .d_p_t_other {
    color: rgb(255, 74, 0);
}
.description .d_parameter .d_p_price{
    display: block;
    font-size: 18px;
    line-height: 1;
    color: #ff6700;
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 0 20px;
}
.description .d_parameter .d_p_price del{
    font-size: 14px;
    margin-left: 5px;
    color: #b0b0b0;
}
.description .d_parameter .d_p_give{
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}
.description .d_parameter .d_p_give span{
    display: inline-block;
    width: 80px;
    height: 25px;
    margin-right: 10px;
    background-color: #ff6700;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    color: #ffffff;
}
.description .d_parameter .d_p_address{
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px 40px 30px 50px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
}
.description .d_parameter .d_p_address i{
    position: absolute;
    top: 26px;
    left: 20px;
    font-size: 20px;
    color: #999;
}
.description .d_parameter .d_p_address span{
    margin-right: 5px;
    font-size: 14px;
}
.description .d_parameter .d_p_address .d_p_a_update{
    color: #ff6700;
    font-size: 14px;
}
.description .d_parameter .d_p_sel{
    font-size: 18px;
    margin-top: 15px;
}
.description .d_parameter .d_p_version li{
    width: 280px;
    height: 42px;
    float: left;
    border:1px solid #ff6700;
    color: #ff6700;
    margin-right: 6px;
    margin-top: 15px;
    line-height: 42px;
}
.description .d_parameter .d_p_version li a{
    padding-left:27px;
    padding-right: 27px;
}
.description .d_parameter .d_p_version .type{
    font-size: 16px;
    display: inline-block;
    width: 170px;
    color: black;
}
.description .d_parameter .d_p_version .price{
    font-size: 16px;
    color: #999;
}
.description .d_parameter .d_p_color li{
    width: 280px;
    height: 42px;
    float: left;
    border:1px solid #ff6700;
    color: #ff6700;
    margin-top: 15px;
    line-height: 42px;
    text-align: center;
}
.description .d_parameter .d_p_color li a{
    font-size: 16px;
    color: #ff6700;
}
.description .d_parameter .d_p_service li{
    position: relative;
    margin-top: 10px;
    padding: 30px 0;
    position: relative;
    border: 1px solid #e0e0e0;
}

.description .d_parameter .d_p_service a{
    font-size: 14px;
    color: #ff6700;
}
.description .d_parameter .d_p_service a span{
    margin: 0 6px;
}

.description .d_parameter .d_p_service .selall{
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-left: 30px;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
.description .d_parameter .d_p_service img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-left: 30px;
    float: left;
}
.description .d_parameter .d_p_service .title{
    font-size: 18px;
    margin-bottom: 10px;
}
.description .d_parameter .d_p_service .desc{
    margin-top: 5px;
    font-size: 14px;
    height: 18px;
    color: #b0b0b0;
    width: 500px;
}
.description .d_parameter .d_p_service .price{
    position: absolute;
    right: 20px;
    bottom: 28px;
    color: #757575;

}
.description .d_parameter .d_p_account{
    background-color: #f9f9fa;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 16px;
}
.description .d_parameter .d_p_account .totlePrice{
    color: #ff6700;
    font-size: 24px;
    padding-top: 20px;
}
.description .d_parameter .d_p_btn{
    display: block;
    margin: 10px 0 20px 0;
    width: 298px;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    background: #ff6700;
    color: #fff;
    text-align: center;
}
.description .d_parameter .d_p_policy{
    color: #b0b0b0;
}
/* End description */

/* bgcolor */

.bgcolor{
    width: 100%;
    background-color: #f5f5f5;
}

/* pack */
.pack{
    width:1226px;
    height: 686px;
    margin: 0 auto;
}
.pack h3{
    font-size: 22px;
    font-weight: normal;
    margin: 22px 0;
}
/* End pack */

/* promise */
.promise{
    width: 1226px;
    height: 458px;
    margin: 0 auto;
}
.promise h3{
    font-size: 22px;
    font-weight: normal;
    margin: 22px 0;
}
.promise h3 a{
    float: right;
    font-size: 16px;
    color: #111111;
}
/* End promise */

/* weixin */
.weixin{
    width: 1226px;
    height: 240px;
    margin: 0 auto;
}
.weixin img{
    width: 1226px;
    height: 159px;
}
.weixin h3{
    font-size: 22px;
    font-weight: normal;
    margin: 22px 0;
}
/* End weixin */

/*  */

/* End bgcolor */

/* End Container */