
*{
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif;
}
a{
    text-decoration: none;
}
.wrapper{
    width:100%;
    background-color: #f9f9f9;
    position:relative;
}
.wrap{
    width:854px;
    /*height:549px;*/
    margin:0 auto;
    background-color: white;

}
.layout{
    width:854px;
    height:559px;
    /*border:1px solid red;*/
    position:relative;
}
.register-box{
    width:786px;
    height:549px;
    position:absolute;
    left:34px;
}
.logo-area{
    width:786px;
    height:88px;
}
.external-logo-area{
    width:786px;
    height:48px;
}
.milogo {
    width: 49px;
    height: 48px;
    margin: 0 auto;
    display: block;
    background-image: url(../images/register/milogo.png);

}
.title{
    width:786px;
    height:45px;
}
.title h4{
    font-size: 30px;
    font-weight: normal;
    color: #333;
    line-height: 1.5;
    text-align:center;
}
.register-list{
    width:786px;
    height:386px;
    margin-top:30px;
}
.regbox{
    width:332px;
    height:246px;
    margin:auto;
    position:relative;
}
.regbox p{
    color: #333333;
    width:100%;
    height:20px;
    line-height: 14px;
}
.regbox .print{
    width:100%;
    height:60px;
    line-height: 60px;
    color:#ff6700;
}
.regbox .explain{
    height:37px;
    line-height: 27px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.country-box{
    width:332px;
    height:42px;
}
.country-select{
    width:332px;
    height:42px;
    border:1px solid #e8e8e8;
    color:#555555;
    font-size:14px;
    box-sizing: border-box;
    padding-left: 10px;
    outline: none;
}
.phonenumber{
    width:332px;
    height:42px;
    position: relative;
    /*border:1px solid #e8e8e8;*/
    background-color: deepskyblue;
}
.phonenumber-select{
    width:60px;
    height:42px;
    border:1px solid #e8e8e8;
    color:#555555;
    box-sizing: border-box;
    padding-left: 5px;
    outline: none;
}
.phonenumber input{
    width:273px;
    height:42px;
    border:1px solid #ff6700;
    position: absolute;
    right:0;
    box-sizing: border-box;
    padding-left: 10px;
    outline: none;
}
.button{
    display:block;
    width:330px;
    height:42px;
    background-color: #ff6700;
    color:#ffffff;
    font-size:14px;
    border:0;
}
.button:hover{
    background-color: #ff936a;
}
.privary_box{
    width:786px;
    height:150px;
    box-sizing: border-box;
    padding-top: 100px;
    color:#9d9d9d;
}
.privary_box a{
    color: #333333;
}
.msg{
    width:410px;
    height:40px;
    margin:0 auto;
}
.msg .icon_select{
    width:20px;
    height:20px;
    /*border:1px solid black;*/
    background:url(../images/register/hook.png);
    float:left;

}
.msg1{
    float:left;
    margin-top:10px;
}
/*.footer{*/
/*width:1286px;*/
/*height:80px;*/
/*border:1px solid black;*/
/*}*/
.footer{
    width:100%;
    height:80px;
    background-color: #f9f9f9;
}
.select{
    width:854px;
    height:80px;
    margin:0 auto;
}
.select ul{
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 311px;
    list-style: none;
}
.select ul li {
    display:inline-block;
    list-style:none;
}
.select ul a{
    text-decoration: none;
    color:#757575;
}
.list .link{
    display: inline-block;
    width:20px;
    text-align: center;
    line-height: 10px;
    color:#757575;
}
.list .simple{
    color:#333333;
}
.introduce{
    width:100%;
    height:44px;
    box-sizing: border-box;
    padding-top: 10px;
}
.introduce a{
    color:#757575;
}
.introduce p{
    text-align: center;
    line-height: 34px;
    color:#757575;
}
