*{
    margin:0;
    padding:0;
    font-family: "Microsoft Yahei";
}
a{
    text-decoration: none;
}
.service-index-box{
    width:100%;
    background-color: #f5f5f5;
}
.container1{
    width:1226px;
    height:40px;
    margin:0 auto;
}
.breadcrumbs {
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}
.breadcrumbs a{
    color:#616161;
}
.container2{
    width:1226px;
    margin:0 auto;
}
.ui-wrapper{
    width:1226px;
    height:250px;
}
.ui-wrapper img{
    width:1226px;
    height:250px;
}
.service-index-fquestion{
    width:1226px;
    box-sizing: border-box;
    padding-top: 20px;
}
/*自助服务*/
.webfont{
    width:100%;
    height:70px;
    line-height: 70px;
    font-size: 24px;
    color: #666;
}
.webfont-content{
    width: 1226px;
    height:350px;
}
.webfont-content ul{
    width: 1226px;
    list-style: none;
}
.webfont-content ul li{
    width:304px;
    height:173px;
    background-color: white;
    border: 1px solid #f5f5f5;
    float:left;
    list-style:none;
}
.webfont-content a{
    width:306px;
    height:175px;
    display:block;
    box-sizing: border-box;
    padding-top: 42px;
    color: #757575;
}
.webfont-content a :hover{
    color:#ff6700;
}
.webfont-content img{
    margin:0 auto;
    width: 66px;
    height: 66px;
    display:block;
}
.webfont-content p{
    width:100%;
    height:20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}
/*产品支持*/
.service-index-goods{
    width:1226px;
    margin:0 auto;
    box-sizing: border-box;
    padding-top:20px;
}
.service-index-goods{
    width:1226px;
}
.service-index-goods ul{
    width:1226px;
    height:603px;
    border:1px solid transparent;
}
.service-index-goods ul li{
    width:304px;
    height:300px;
    border:1px solid #f5f5f5;
    background-color: white;
    float:left;
}
.service-index-goods a{
    width:304px;
    height:300px;
    display:block;
    color: #757575;
    box-sizing: border-box;
    padding-top: 63px;
}
.service-index-goods a :hover{
    color: #ff6700;
}
.service-index-goods img{
    width:200px;
    height:165px;
    margin:0 auto;
    display:block;
}
.g_c_list p{
    width:100%;
    height:20px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}
/*常见问题*/
.service_question{
    width:1226px;
    margin:0 auto;
    box-sizing: border-box;
    padding-top: 20px;
}
.service_question .q_content{
    width:1226px;
}
.s_c_list{
    width:1226px;
    height:710px;
}
.s_c_list a{
    color: #757575;
}
.s_c_list a:hover{
    color:#ff6700;
}
.s_c_list img{
    width:15px;
    height:15px;
}
.s_c_list dl{
    width:306px;
    height:354px;
    border: 1px solid #f5f5f5;
    background-color: white;
    box-sizing: border-box;
    padding:50px 50px;
    float:left;
}
.s_c_list dl dt{
    height:50px;
    box-sizing: border-box;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 35px;
    color: #333;
}
.s_c_list dl dd{
    height:25px;
    font-size:14px;
    line-height: 25px;
}
/*联系客服*/
.service-index-contact{
    width:1226px;
    box-sizing: border-box;
    padding:20px 0  100px;
}
.service-index-contact .contact{
    width:1226px;
}
.online-clearfix{
    width:1226px;
    height:160px;
    box-sizing: border-box;
    padding:30px 0;
    margin-bottom: 14px;
    background-color: white;
}
.online-clearfix .block1{
    width:395px;
    height:100px;
    float:left;
    background-image: url("../images/service/contact-icon.png");
    background-position: 90% 0;
    background-repeat: no-repeat;
}
.online-clearfix dl{
    width:430px;
    height:100%;
    box-sizing: border-box;
    padding-top: 20px;
    float:left;
}
.online-clearfix dl dt{
    height:30px;
    line-height: 30px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #000;
}
.online-clearfix dl dd{
    font-size:14px;
    color:#757575;
}
.online-clearfix .block3{
    width:160px;
    height:100%;
    float:left;
}
.block3 a{
    width:160px;
    height:40px;
    margin-top:30px;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    background-color: #ff6700;
    color: #fff;
    display:block;
}
.block3 a:hover{
    background-color: #f25807;
}
.telephone-clearfix{
    width:1226px;
    height:349px;
    box-sizing: border-box;
    padding:50px 0 50px 160px;
    background-color: white;
    margin-bottom: 20px;
}
.big-block .block4{
    width:280px;
    height:235px;
    float:left;
}
.big-block .block4 dt{
    margin-top:23px;
    text-align: center;
    font-size: 18px;
    color: #000;
}
.big-block .block4 dd{
    margin:auto;
    text-align: center;
    margin-top: 6px;
}
.block4 dd{
    color:#757575;
}
.block4 .num{
    color: #ff6700;
    font-size: 16px;
}
.big-block .phone-logo1{
    width:100px;
    height:100px;
    background-image: url("../images/service/contact-icon.png");
    background-position: 0 -100px;
    background-repeat: no-repeat;
    margin: auto;
}
.big-block .phone-logo2{
    width:100px;
    height:100px;
    background-image: url("../images/service/contact-icon.png");
    background-position: 0 -200px;
    background-repeat: no-repeat;
    margin: auto;
}
.big-block .phone-logo3{
    width:100px;
    height:100px;
    background-image: url("../images/service/contact-icon.png");
    background-position: 0 -300px;
    background-repeat: no-repeat;
    margin: auto;
}
.service-index-contact .contact .weixin{
    width:1226px;
    height:160px;
}


