*{
    margin: 0;
    padding: 0;
    font-family:"Microsoft YaHei";
}
a{
    text-decoration: none;
}
.nav{
    width: 100%;
    height: 64px;
    background-color: #0c1016;
}
.nav .nav_content{
    width: 1220px;
    height:64px;
    box-sizing: border-box;
    padding:0 20px;
    background-color: #0c1016;
    margin: 0 auto;
}
.nav_content img{
    height: 35px;
    width: 130px;
    float:left;
    margin-top: 16px;
}
.nav_content .mainnav{
    width: 600px;
    margin-left: 20px;
    float:left;
    list-style: none;
}
.nav_content .mainnav li{
    width: 110px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    font-size: 14px;
    float: left;
}
.mainnav a{
    text-decoration: none;
    transition:.7s;
    color: #9ba2aa;
}
.mainnav a:hover{
    color:#108ee9;
}
.n_login{
    width: 200px;
    height: 64px;
    float: right;
    box-sizing: border-box;
    padding:17px 62px;
}
.n_login a{
    display: inline-block;
    width:76px;
    height:28px;
    text-align: center;
    border:1px solid white;
    border-radius: 15px;
    line-height: 28px;
    font-size: 14px;
    color:white;
    background-color: transparent;
    transition: .7s;
}
.n_login a:hover{
    border:1px solid #108ee9;
    background-color:#108ee9;
}
/*-----------内容！！！--------*/
.container{
    width: 100%;
    overflow: hidden;
}
/*-----------广告内容！！！--------*/
.container .banner{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
.banner .hoverbtn{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.banner .hoverbtn:hover{
    background-color:rgba(0,0,0,.2);
}
.banner .swiper-pagination{
    color: blue;
}
.banner .swiper-slide {
    background-position: center;
    background-size: cover;
}
.banner .swiper-slide-bg1{
    background-image: url("../images/shuidi/banner_1.jpg");
}
.banner .swiper-slide-bg2{
    background-image: url("../images/shuidi/banner_2.jpg");
}
.banner .swiper-slide-bg3{
    background-image: url("../images/shuidi/banner_3.jpg");
}
.banner .swiper-slide-bg4{
    background-image: url("../images/shuidi/banner_4.jpg");
}

/*-----------广告下方！！！--------*/
.c_hot{
    width: 100%;
    height: 45px;
    border: 1px solid black;
    background-color: #191919;
    position: relative;
}
.c_h_container{
    width: 1220px;
    height: 45px;
    box-sizing: border-box;
    padding:0 20px;
    margin: 0 auto;
}
.c_h_c_icon{
    width:55px;
    height:45px;
    line-height: 45px;
    color:#eaeaea;
    float:left;
}
.c_h_c_icon span{
    font-size: 25px;
}
.c_h_c_new{
    width:500px;
    height:45px;
    line-height: 35px;
    float:left;
    font-size: 13px;
}
.c_h_c_new a{
    color:#eaeaea;
}
.c_h_c_new sup{
    color:#e94d18;
}
.c_h_c_more{
    width:150px;
    height:45px;
    line-height: 45px;
    text-align: center;
    font-size: 13px;
    float: right;

}
.c_h_c_more a{
    color:#b8b8b8;
}
/*-----------正文内容内容！！！--------*/
.c_content{
    width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top:100px;
}
.c_c_apply{
    width: 1220px;
    height: 1000px;
    border-bottom: 1px solid #eef2f5;
}
.c_c_a_top{
    width: 1220px;
    height: 505px;
    box-sizing: border-box;
    padding:40px 30px;
}
.c_c_a_t_left{
    width: 400px;
    float:left;
}
.c_c_a_t_l_lamp{
    width:60px;
    height:60px;
}
.c_c_a_t_l_lamp img{
    width:60px;
    height:60px;
}
.c_c_a_t_l_title{
    width:100%;
    height:60px;
    color:#333333;
    font-size: 20px;
    line-height: 60px;
}
.c_c_a_t_l_line{
    width:30px;
    height:0;
    border:1px solid #036fff;
    margin-bottom: 25px;
}
.c_c_a_t_l_text{
    width:380px;
    height:160px;
}
.c_c_a_t_l_text p{
    box-sizing: border-box;
    padding-bottom:25px;
    font-size: 13px;
    color: #666666;
    line-height: 20px;
}
.c_c_a_t_l_introduce{
    width:420px;
   list-style: none;
    position: relative;
    left:-14px;
}
.c_c_a_t_l_introduce img{
    display: block;
    width:40px;
    height:40px;
    margin:0 auto;
}
.c_c_a_t_l_introduce li{
    width: 60px;
    height:55px;
    float: left;
    font-size: 12px;
    text-align: center;
    color:#5e5e5e;
}
.c_c_a_t_l_introduce .c_c_a_t_l_i_line{
    width:30px;
    line-height: 32px;
    font-size: 20px;
    color:#036fff;
}
.c_c_a_t_right{
    width: 618px;
    height: 340px;
    float: right;
    margin-top: 30px;
}
.c_c_a_t_right img{
    width: 618px;
    height: 340px;
}
/* -----应用接入下面部分模块-----*/
.content_apply_shop{
    width:100%;
    height: 500px;
    box-sizing: border-box;
    padding:0 30px;
}
.content_apply_shop_skill{
    width: 260px;
    height: 350px;
    float:left;
    box-shadow:0 0 8px #eef2f5;
}
.secondskill{
    margin-left:188px;
}
.thirdskill{
    float:right;
}
.content_apply_shop_skill_top{
    height: 140px;
    width: 100%;
    box-sizing: border-box;
    padding-top:20px;
    background: url("../images/shuidi/title_shop_background1.png");
}
.secondskill .content_apply_shop_skill_top{
    background: url("../images/shuidi/title_shop_background2.png");
}
.thirdskill .content_apply_shop_skill_top{
    background: url("../images/shuidi/title_shop_background3.jpg");
}
.content_apply_shop_skill_top img{
    height: 40px;
    width: 40px;
    display: block;
    opacity: .7;
    margin:0 auto 20px;
}
.content_apply_shop_skill_top p{
    height:20px;
    text-align: center;
    line-height: 20px;
    color:white;
    font-size: 17px;
}
.content_apply_shop_skill_bottom{
    width:100%;
    height:210px;
    box-sizing: border-box;
    padding:20px 25px;
}
.content_apply_shop_skill_bottom p{
    font-size: 13px;
    margin-bottom: 20px;
    line-height: 20px;
    color:#89909a;
}
.content_apply_shop_skill_bottom_button{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding-top: 20px;
}
.content_apply_shop_skill_bottom_button a{
    width: 98px;
    height:28px;
    margin:0 auto;
    display: block;
    border:1px solid #222222;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    color: #222222;
    line-height: 28px;
    transition: .5s;
}
.content_apply_shop_skill_bottom_button a:hover {
    border:1px solid #036fff;
    background-color: #036fff;
    color: white;
}
/*------------------------------*/
.content_apply_shop_stree{
    position: relative;
    width: 260px;
    height: 350px;
    float: right;
    bottom:700px;
    box-shadow:0 1px 1px 2px #eef2f5;
}
.content_apply_shop_stree_top{
    height: 140px;
    width: 100%;
    background: url("../images/shuidi/title_shop_background3.jpg");
}
.content_apply_shop_stree_top img{
    height: 30px;
    width: 30px;
    position: relative;
    left: 115px;
    top: 30px;
}
.content_apply_shop_stree_top span{
    color:white;
    position: relative;
    top: 80px;
    left: 50px;
    font-size: 17px;
}
.content_apply_shop_stree p{
    width: 210px;
    height: 90px;
    position: relative;
    text-indent: 1em;
    font-size: 13px;
    opacity: .6;
    margin: 20px auto;
    line-height: 20px;
}
.content_apply_shop_stree_button{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    left: 75px;
    opacity: .7;
}
.content_apply_shop_stree_button span{
    font-size: 14px;
    color: black;
    position: absolute;
    line-height: 30px;
    left: 20px;
}
.content_apply_shop_stree_button span:hover {
    color: white;
}
.content_apply_shop_stree_button:hover {
    background-color: blue;
}
/* ---______-------下面的模块-------------*/
.content_bottom{
    width: 1220px;
    margin:0 auto;
    margin-top:130px;
}
.centent_bottom_top{
    width: 1226px;
    height: 480px; /*--------------------------------------------------------*/
}
.centent_bottom_top img{
    width: 580px;
    height: 320px;
}
.centent_bottom_top_right{
    width: 440px;
    height: 350px;
    float: right;
}
.centent_bottom_top_right img{
    width: 55px;
    height: 60px;
    left: 25px;
    position: relative;
    top: 0;
}
.c_b_t_right{
    width: 400px;
    float:right;
}
.c_b_t_r_voice{
    width:60px;
    height:60px;
}
.c_b_t_r_voice img{
    width:60px;
    height:60px;
}
.c_b_t_r_title{
    width:100%;
    height:60px;
    color:#333333;
    font-size: 20px;
    line-height: 60px;
}
.c_b_t_r_line{
    display: inline-block;
    width:30px;
    height:0;
    box-sizing: border-box;
    border:1px solid #036fff;
    margin-bottom: 25px;
}
.c_b_t_r_text{
    width:380px;
    height:160px;
}
.c_b_t_r_text p{
    box-sizing: border-box;
    padding-bottom:25px;
    font-size: 13px;
    color: #666666;
    line-height: 20px;
}
.c_b_t_r_introduce{
    width:420px;
    list-style: none;
    position: relative;
    left:-14px;
}
.c_b_t_r_introduce img{
    display: block;
    width:40px;
    height:40px;
    margin:0 auto;
}
.c_b_t_r_introduce li{
    width: 60px;
    height:55px;
    float: left;
    font-size: 12px;
    text-align: center;
    color:#5e5e5e;
}
.c_b_t_r_introduce .c_b_t_r_i_line{
    width:30px;
    line-height: 32px;
    font-size: 20px;
    color:#036fff;
}
.content_minbottom{
    height: 240px;
    width: 1226px;
    margin: 0 auto;
}
.content_minbottom_left{
    height: 240px;
    width: 500px;
    float: left;
    box-shadow:0 1px 1px 2px #eef2f5;
}
.c_m_l_picture img{
    height: 240px;
    width: 310px;
    float: left;
}
.content_minbottom_left_right{
    float: right;
    height: 240px;
    width: 190px;
}
.content_minbottom_left_right img{
    height: 40px;
    width: 40px;
    display: block;
    margin:50px auto 30px;
}
.content_minbottom_left_right p{
    height: 20px;
    font-size:16px;
    color:#333333;
    text-align: center;
    line-height: 20px;
}
.content_minbottom_left_right_button {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 30px;
}
.content_minbottom_left_right_button a{
    display: block;
    width:98px;
    height:28px;
    margin:0 auto;
    text-align: center;
    line-height: 28px;
    border: 1px solid #333333;
    color: #333333;
    border-radius: 15px;
    transition: .5s;
}
.content_minbottom_left_right_button a:hover {
    color:white;
    border:1px solid #036fff;
    background-color: #036fff;
}
.content_minbottom .content_minbottom_right{
    height: 240px;
    width: 500px;
    float:right;
    box-shadow:0 1px 1px 2px #eef2f5;
}
.c_m_r_picture img{
    height: 240px;
    width: 310px;
    float: left;
}
.content_minbottom_right_right{
    float: right;
    height: 240px;
    width: 190px;
}
.content_minbottom_right_right img{
    height: 40px;
    width: 40px;
    display: block;
    margin:50px auto 30px;
}
.content_minbottom_right_right p{
    height: 20px;
    font-size:16px;
    color:#333333;
    text-align: center;
    line-height: 20px;
}
.content_minbottom_right_right_button {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 30px;
}
.content_minbottom_right_right_button a{
    display: block;
    width:98px;
    height:28px;
    margin:0 auto;
    text-align: center;
    line-height: 28px;
    border: 1px solid #333333;
    color: #333333;
    border-radius: 15px;
    transition: .5s;
}
.content_minbottom_right_right_button a:hover {
    color:white;
    border:1px solid #036fff;
    background-color: #036fff;
}
/*footer*/
.footer{
    height: 200px;
    width: 100%;
    margin-top: 150px;
    background-color: #eeeeee;
}
.f_container{
    width:1220px;
    height:200px;
    margin:0 auto;
    box-sizing: border-box;
    padding-top: 40px;
}
.footer_links{
    height: 20px;
    margin-bottom: 40px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}
.footer_links a{
    color: #535353;
}
.footer_links a:hover {
    color: cornflowerblue;
}
.footer_links span{
    display: inline-block;
    width:20px;
    color:#535353;
}
.footer_parner{
    width: 100%;
    height: 53px;
    box-sizing: border-box;
    padding-bottom: 23px;
    font-size: 12px;
    color:#535353;
    position:relative;
}
.f_p_line{
    display:inline-block;
    width:30px;
    text-align: center;
}
.footer_parner p{
    width:300px;
    height:30px;
    margin-left: 415px;
    text-align: center;
    line-height:30px ;
}
.f_p_weixin{
    width:30px;
    height:30px;
    position: absolute;
    top:0;
    left:720px;
    display: inline-block;
}
.f_p_weixin img{
    width:30px;
    height:30px;
}
.f_p_w_qr{
    width: 180px;
    height: 180px;
    position: absolute;
    top: -190px;
    left: -80px;
    background-color: #f9f9f9;
    display: none;
}
.f_p_w_qr img{
    width: 170px;
    height: 170px;
    margin:5px;
}
.f_p_weixin:hover .f_p_w_qr{
    display: block;
}
.f_p_microblog{
    display: block;
    width:30px;
    height:30px;
    position: absolute;
    top:0;
    right:420px;
}
.f_p_microblog img{
    width:30px;
    height:30px;
}
.footer_share{
    height: 20px;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color:#535353;
    margin: 0 auto;
}
.footer_share a{
    color: #535353;
}
.footer_share span{
    display: inline-block;
    width:20px;
}