a{
    text-decoration: none;
}
body{
    font-size: 12px;
}
.top{
    height: 60px;
    width: 1850px;
    position: relative;
}
.biaoti{
    height: 60px;
    width: 400px;
    left: 200px;
    position: absolute;
}
.topleft{
    width: 230px;
    height: 60px;
    font-size: 13px;
    position: absolute;
    left:20px;
    top: 15px;
}
.topright{
    width: 200px;
    height: 60px;
    font-size: 10px;
    position: absolute;
    top: 25px;
    left: 220px;
}
.topright a{
    color: rgb(97,97,97);
}
.topright-1 {
    width: 600px;
    height: 60px;
    position: absolute;
    left: 1050px;
    top: 10px;
}
.topright-1 ul{
    position: absolute;
}
.topright-1 li{
    float:left;
    list-style: none;
    font-size: 13px;
    padding-top: 5px;
    line-height: 40px;
}
.gaisu{
    color: red;
}
.topright-1 .yonghu{
    text-decoration: none;
    color: rgb(97,97,97);
}
.topright-1 a:hover{
    color: red;
}
.buybox{
    width: 120px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 260px;
    text-align: center;
    background-color: rgb(255,103,0);
}
.buybox:hover{
    background-color: rgb(242,88,7);
}
.buybox a{
    color: white;
    font-size: 14px;
    line-height: 25px;
}
.buybox a:hover{
    color: white;
}
.container{
    width: 100%;
    height: 12000px;
}
/*content*/
.content_1{
    height: 900px;
    width:1850px;
    position: relative;
   margin: 0 auto;
}
.content_1_pic{
    height: 900px;
    width:1850px;
    position: absolute;
}
.content_1_pic img{
    height: 900px;
    width:1850px;
}
/*bg left text*/
.content_1_nav1{
    position:absolute;
    height: 550px;
    width: 600px;
    left:260px;
    top:200px;
}

.item_1{
    font-size: 30px;
    color: rgb(72,71,74);
}
.item_2box{
    height: 300px;
    width: 600px;
    position: absolute;
    top: 50px;
}
.item_2{
    font-size: 90px;
    color:rgb(72,71,74);
}
.pricebox{
    height: 100px;
    width: 600px;
    position: absolute;
    left:0;
    top:300px;
}
.price{
    font-size: 55px;
    color:rgb(72,71,74);
}
.price_1{
    font-size: 25px;
    color:rgb(72,71,74);
}
/*bg second text*/
.content_1_nav2{
    position:absolute;
    height: 50px;
    width: 800px;
    left:1000px;
    top:700px;
}
.item_3{
    font-size: 5px;
    color:white;
}
/*bg third text*/
.content_1_nav3{
    position:absolute;
    height: 60px;
    width: 1000px;
    left:230px;
    top:840px;
}
.item_4{
    font-size: 23px;
    color:rgb(72,71,74);
}
/*End content*/
/*content*/
.content_2{
    width: 1850px;
    height: 350px;
    margin: 0 auto;
    position: relative;
}
.content_2_nav{
    width: 1850px;
    height: 350px;
    position: absolute;
}
.content_2_nav ul{
    padding-top: 50px;
}
.content_2_nav li{
    width:33.333%;
    height: 150px;
    float: left;
    text-align: center;
    list-style: none;
}
.content_2_nav h4{
    font-size: 40px;
    color: #000;
}
.content_2_nav span{
    font-size: 20px;
    color:rgb(72,71,74);
}
/*End content*/
/*content*/
.content_3{
    width: 1850px;
    height: 700px;
    position: relative;
    margin: 0 auto;
}
.c3_bg_pic{
    width: 1850px;
    height: 700px;
    position: absolute;
}
.c3_bg_pic img{
    width: 1850px;
    height: 700px;
}

.content_3_nav{
    position: absolute;
    width: 750px;
    height: 600px;
    left: 180px;
    top: 60px;
}
.voice_pic{
    width: 350px;
    height: 110px;
    position: absolute;
    top: 100px;
    left: 70px;
}
.voice_pic img{
    float: left;
}

.voice_pic h2{
    position: absolute;
    color:rgb(255,255,255);
    left: 100px;
    top: 20px;
    font-size: 30px;
}
.content_3_show{
    color:rgb(255,255,255);
    position: absolute;
    font-size: 40px;
    height: 300px;
    width: 680px;
    top: 200px;
    left: 60px;
    text-align: center;
}
.content_3_show h2{
    font-size: 60px;
}
/*remote_control*/
.remote_control_pic{
    position: absolute;
    height:600px;
    width: 300px;
    left: 1150px;
    top: 100px;
}
.remote_control_pic img{
    width: 240px;
    height: 600px;
}
.remote_color{
    border: 1px solid red;
    width: 60px;
    height: 50px;
    position: absolute;
    left: 1240px;
    top: 193px;
}
/*End content*/
/*content*/
.content_4{
    width: 1850px;
    height: 475px;
    position: relative;
    margin: 0 auto;
}
.content_4left{
    width: 870px;
    height:417px;
    position: absolute;
    left: 30px;
    top: 30px;
}
.bj4left{
    background-repeat: no-repeat;
    width: 870px;
    height:417px;
}
.content4left_text{
    width: 330px;
    height: 200px;
    position: absolute;
    border: 1px solid red;
    top: 147px;
    left: 280px;
  }
.content4left_text span{
    font-size: 31px;
    color: rgb(255,255,255);
}

.content_4right{
    width: 870px;
    height:417px;
    position: absolute;
    top: 30px;
    left: 936px;
}
.content_4right_text{
    width: 390px;
    height: 200px;
    position: absolute;
    border: 1px solid red;
    top: 147px;
    left: 270px;
}
.content_4right_text span{
    font-size: 31px;
    color:white;
}
.bj4right{
    background-repeat: no-repeat;
    width: 870px;
    height:417px;
}
  /*End content*/
 /*content*/
.content_5{
    width: 1850px;
    height: 872px;
    position: relative;
    margin: 0 auto;
}
.content_5_pic{
    width: 1850px;
    height: 872px;
    position: absolute;
}
.content_5_pic img{
    width: 1850px;
    height: 872px;
}
.c5_msg1{
    width: 450px;
    height: 70px;
    position: absolute;
    top: 240px;
    left: 250px;
}
.c5_msg1 h2{
    color: black;
    font-size: 55px;
    margin: 0 auto;
}
.c5_msg2{
    width: 450px;
    height: 70px;
    position: absolute;
    top: 330px;
    left: 250px;
}
.c5_msg2 h2{
    color: black;
    font-size: 55px;
    margin: 0 auto;
}
.c5_msg3{
    width: 450px;
    height: 70px;
    position: absolute;
    top: 410px;
    left: 250px;
}
.c5_msg3 p{
    font-size: 23px;
    line-height: 35px;
    margin: 0 auto;
}
/*End content*/
/*content*/
.content_6{
    width: 1850px;
    height: 980px;
    position: relative;
    margin: 0 auto;
}
.content_6_pic{
    width: 1850px;
    height: 980px;
    position:absolute;
}
.content_6_pic img{
    width: 1850px;
    height: 980px;
}
.c6_msg1{
    width: 450px;
    height: 70px;
    top: 90px;
    left: 700px;
    position: absolute;
}
.c6_msg1 h2{
    color: white;
    font-size: 60px;
    margin:0 auto;
}
.c6_msg2{
    width: 450px;
    height: 70px;
    top: 180px;
    left: 700px;
    position: absolute;
}
.c6_msg2 h2{
    color: white;
    font-size: 60px;
    margin:0 auto;
}
.c6_msg3{
    width: 600px;
    height: 70px;
    top: 270px;
    left: 680px;
    position: absolute;
}
.c6_msg3 p{
    color: white;
    font-size: 23px;
    margin: 0 auto;
}
 /*tv logo*/
.c6_logo{
    width: 650px;
    height: 70px;
    position: absolute;
    top:780px;
    left: 650px;
}
.c6_logo img{
    width: 530px;
    height: 35px;
}
                 /*End content*/
                 /*content*/
.content_7{
    width: 1850px;
    height: 871px;
    position: relative;
    margin: 0 auto;
}
.content_7_pic{
    width: 1850px;
    height: 871px;
    position: absolute;
}
.content_7_pic img{
    width: 1850px;
    height: 871px;
}
.c7_msg1{
    width: 400px;
    height: 70px;
    position: absolute;
    top: 68px;
    left: 783px;
}
.c7_msg1 h2{
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
.c7_msg2{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 140px;
    left: 700px;
}
.c7_msg2 h2{
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
.c7_msg3{
    width: 600px;
    height: 60px;
    position: absolute;
    top: 225px;
    left: 700px;
}
.c7_msg3 p{
    color: white;
    font-size: 23px;
    margin: 0 auto;
}
/*menu*/
.c7_menu{
    width:1850px;
    height: 130px;
    position: absolute;
    top:690px;
}
.c7_menu a{
    color: white;
    font-size: 30px;
}
.c7_menu div:hover{
    background-color:rgb(3,176,229);
}
.movie{
    border: 1px solid white;
    width: 170px;
    height: 90px;
    position: absolute;
    left: 478px;
    border-radius: 10%;
    text-align: center;
    line-height: 80px;
}
.tv_series{
    border: 1px solid white;
    width: 170px;
    height: 90px;
    position: absolute;
    left: 660px;
    border-radius: 10%;
    text-align: center;
    line-height: 80px;
}
.variety{
    border: 1px solid white;
    width: 170px;
    height: 90px;
    position: absolute;
    left: 842px;
    border-radius: 10%;
    text-align: center;
    line-height: 80px;
}
.sports{
    border: 1px solid white;
    width: 170px;
    height: 90px;
    position: absolute;
    left: 1024px;
    border-radius: 10%;
    text-align: center;
    line-height: 80px;
}
.children{
    border: 1px solid white;
    width: 170px;
    height: 90px;
    position: absolute;
    left: 1206px;
    border-radius: 10%;
    text-align: center;
    line-height: 80px;
}
           /*End content*/
          /*content*/
.content_8{
    width: 1850px;
    height:871px;
    position: relative;
    margin: 0 auto;
}
.content_8_pic{
    width: 1850px;
    height:871px;
    position: absolute;
}
.content_8_pic img{
    width: 1850px;
    height:871px;
}
.c8_msg1{
    width: 450px;
    height: 70px;
    position: absolute;
    top: 68px;
    left: 720px;
}
.c8_msg1 h2{
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
.c8_msg2{
    width: 490px;
    height: 70px;
    position: absolute;
    top: 150px;
    left: 695px;
}
.c8_msg2 h2{
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
.c8_msg3{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 240px;
    left: 680px;
}
.c8_msg3 p{
    color: white;
    font-size: 23px;
    margin: 0 auto;
}
/*End content*/
/*content*/
.content_9{
    width: 1850px;
    height:871px;
    position: relative;
    margin: 0 auto;
}
.content_9_pic{
    width: 1850px;
    height:871px;
    position: absolute;
}
.content_9_pic img{
    width: 1850px;
    height:871px;
}
.c9_msg1{
    width: 490px;
    height: 70px;
    position: absolute;
    top: 68px;
    left: 700px;
}
.c9_msg1 h2{
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
.c9_msg2{
    width: 550px;
    height: 70px;
    position: absolute;
    top: 150px;
    left: 695px;
}
.c9_msg2 h2{
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
.c9_msg3{
    width: 550px;
    height: 70px;
    position: absolute;
    top: 240px;
    left: 695px;
}
.c9_msg3 p{
    color: white;
    font-size: 23px;
    margin: 0 auto;
}
.more_app{
    width: 926px;
    height: 520px;
    position: absolute;
    left:460px;
    top: 350px;
}
.appbox_pic{
    width: 926px;
    height: 520px;
    position: absolute;
}
.appbox {
    width: 926px;
    height: 520px;
    position: absolute;
}
.appbox p{
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 14px;
}
.appbox img{
    width: 90px;
    height: 90px;
}
.app1{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 70px;
    left: 100px;
}
.app2{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 70px;
    left: 230px;
}
.app3{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 70px;
    left: 360px;
}
.app4{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 70px;
    left: 490px;
}
.app5{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 70px;
    left: 620px;
}
.app6{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 70px;
    left: 750px;
}
.app7{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 210px;
    left: 100px;
}
.app8{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 210px;
    left: 230px;
}
.app9{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 210px;
    left: 360px;
}
.app10{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 210px;
    left: 490px;
}
.app11{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 210px;
    left: 620px;
}
.app12{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 210px;
    left: 750px;
}
.app13{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 350px;
    left: 100px;
}
.app14{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 350px;
    left: 230px;
}
.app15{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 350px;
    left: 360px;
}
.app16{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 350px;
    left: 490px;
}
.app17{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 350px;
    left: 620px;
}
.app18{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 10%;
    top: 350px;
    left: 750px;
}
                /*End content*/
               /*content*/
.content_10{
    width: 1850px;
    height:871px;
    position: relative;
    margin: 0 auto;
}
.content_10_pic{
    width: 1850px;
    height:871px;
    position: absolute;
}
.content_10_pic img{
    width: 1850px;
    height:871px;
}
.c10_msg1{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 60px;
    left: 640px;
}
.c10_msg1 h2{
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
.c10_msg2{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 150px;
    left: 720px;
}
.c10_msg2 p{
    color: white;
    font-size: 23px;
    margin: 0 auto;
}
.c10_smallzpic{
    width: 241px;
    height: 241px;
    position: absolute;
    left: 500px;
    top: 220px;
}
.c10_smallzpic img{
    width: 241px;
    height: 241px;
}
/*End content*/
/*content*/
.content_11{
    width: 1850px;
    height:871px;
    position: relative;
    margin: 0 auto;
}
.content_11_pic{
    width: 1850px;
    height:871px;
    position: absolute;
}
.content_11_pic img{
    width: 1850px;
    height:871px;
}
.c11_msg1{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 160px;
    left: 230px;
}
.c11_msg1 h2{
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
.c11_msg2{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 250px;
    left: 230px;
}
.c11_msg2 h2{
    color: white;
    font-size: 60px;
    margin: 0 auto;
}
.c11_msg3{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 340px;
    left: 230px;
}
.c11_msg3 p{
    color: white;
    font-size: 23px;
    margin: 0 auto;
}
/*content_sidebar*/
.sidebar{
    width: 700px;
    height: 400px;
    position: absolute;
    left: 200px;
    top: 400px;
}
.column1_text{
    width: 130px;
    height: 120px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.column1_control_1{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding-left: 5px;
}
.column1_control_2{
    color:white;
    font-size: 15px;
    padding-left: 20px;
}
.column1{
    border: 1px solid white;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 30px;
    top: 30px;
}
.column2{
    border: 1px solid white;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 210px;
    top: 30px;
}
.column2_control_2{
    color:white;
    font-size: 15px;
}
.column3{
    border: 1px solid white;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 390px;
    top: 30px;
}
.column4{
    border: 1px solid white;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 30px;
    top: 210px;
}
.column4_control_2{
    color:white;
    font-size: 15px;
    padding-left: 10px;
}
.column5{
    border: 1px solid white;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 210px;
    top: 210px;
}
.column6{
    border: 1px solid white;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 390px;
    top: 210px;
}
/*End content*/
/*content*/
.content_12{
    width: 1850px;
    height:871px;
    position: relative;
    margin: 0 auto;
}
.content_12_pic{
    width: 1850px;
    height:871px;
    position: absolute;
}
.content_12_pic img{
    width: 1850px;
    height:871px;
}









/*End content*/
/*content*/
.content_13{
    width: 1850px;
    height:727px;
    position: relative;
    margin: 0 auto;
}
.content_13_pic{
    width: 1850px;
    height:727px;
    position:absolute;
}
.content_13_pic img{
    width: 1850px;
    height:727px;
}
/*vipbox*/
.vipbox{
    height: 50px;
    width: 200px;
    position: absolute;
    top: 189px;
    left: 475px;
}
.vipbox img{
    width: 150px;
    height: 40px;
}
.vip_msg{
    height: 70px;
    width: 400px;
    position: absolute;
    top: 290px;
    left: 430px;
}
.vip_msg h2{
    color: white;
    font-size: 40px;
    margin: 0 auto;
}
.vip_msg2{
    height: 100px;
    width: 614px;
    position: absolute;
    top: 418px;
    left: 265px;
}
.vip_msg2 p{
    color: white;
    font-size: 23px;
    margin: 0 auto;
}
/*childrenVIP*/
.childrenVIP{
    height: 50px;
    width: 200px;
    position: absolute;
    top: 189px;
    left: 1215px;
}
.childrenVIP img{
    width: 150px;
    height: 60px;
}
.childrenVIP_msg{
    height: 70px;
    width: 400px;
    position: absolute;
    top: 290px;
    left: 1170px;
}
.childrenVIP_msg h2{
    color: white;
    font-size: 40px;
    margin: 0 auto;
}
.childrenVIP_msg2{
    height: 100px;
    width: 620px;
    position: absolute;
    top: 418px;
    left: 1010px;
}
.childrenVIP_msg2 p{
    color: white;
    font-size: 23px;
    margin: 0 auto;
}
/*End content*/
/*content*/
.content_14{
    width: 1850px;
    height:871px;
    position: relative;
    margin: 0 auto;
}
.content_14_pic{
    width: 1850px;
    height:871px;
    position: relative;
}
.content_14_pic img{
    width: 1850px;
    height:871px;
}
.c14_msg1{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 80px;
    left: 810px;
}
.c14_msg1 h2{
    font-size: 60px;
    margin: 0 auto;
}
.c14_msg2{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 180px;
    left: 740px;
}
.c14_msg2 p{
    font-size: 23px;
    margin: 0 auto;
}
/*End content*/
/*content*/
.content_15{
    width: 1850px;
    height:607px;
    position: relative;
    margin: 0 auto;
}
.c15_msg1{
    width: 600px;
    height: 70px;
    position: absolute;
    top: 80px;
    left: 680px;
}
.c15_msg1 h2{
    font-size: 60px;
    margin: 0 auto;
}
.c15_msg2{
    width: 700px;
    height: 70px;
    position: absolute;
    top: 180px;
    left: 590px;
}
.c15_msg2 p{
    font-size: 23px;
    margin: 0 auto;
}
.TVdistance_box{
    width: 1850px;
    height:300px;
    position:absolute;
    top: 250px;
}
.TVdistance_pic{
    width: 1200px;
    height:260px;
    position:absolute;
    left: 350px;
    top: 40px;
}
.TVdistance_pic img{
    width: 1200px;
    height:260px;
}
/*End content*/
/*content*/
.content_16{
    width: 1850px;
    height:183.5px;
    position: relative;
    margin: 0 auto;
}
.c16_msg{
    width: 1160px;
    height:100px;
    position:absolute;
    top: 40px;
    left: 390px;
}
.c16_msg p{
    font-size: 13px;
    color: rgb(153,153,153);
}