*{
    padding:0;
    margin:0;
    font-family: "Microsoft Yahei";
}
a{
    text-decoration: none;
}
.centain{
    width:100%;
    background-color:#f5f5f5;
    font-size: 14px;
    margin-bottom: 20px;
}
.c_person{
    width:1226px;
    height:40px;
    margin:0 auto;
    line-height: 40px;
}
.c_person span{
    margin-left:10px;
}
.c_p_index{
    color:#757575;
    cursor: pointer;
}
.c_p_index:hover{
    color:#424242;
}
/*中心模块设置*/
.c_main{
    width:1226px;
    background-color: #f5f5f5;
    margin:0 auto;
    color:#757575;
    overflow: hidden;
    padding-bottom: 35px;
}
.c_main:after{
    /*clear:both;*/
    content:" ";

}
.c_m_list{
    width:230px;
    height:260px;
    background-color: white;
    float:left;
}
.c_m_l_nav{
    list-style: none;
}
.c_m_l_nav li{
    width:100%;
    height:85px;
    text-align: center;
    line-height: 85px;
    font-size: 16px;
}
.c_m_l_nav a{
    cursor: pointer;
    color:#757575;
}
.c_m_l_n_center a{
    color:#ff6700;
}
.c_m_info{
    width:980px;
    height:260px;
    margin-left: 15px;
    background-color: white;
    box-sizing: border-box;
    padding:15px;
    float:left;
}
.c_m_i_personal{
    width:100%;
    height:40px;
    font-size: 16px;
    font-weight: bolder;
    line-height: 40px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 10px;
}
.c_m_i_list{
    list-style: none;
    margin-bottom: 5px;
}
.c_m_i_list li{
    width:100%;
    height:30px;
    line-height: 30px;
}
.c_m_i_list span{
    display: inline-block;
    height:30px;
    line-height: 30px;
}
.c_m_i_list input{
    width:150px;
    height:16px;
    outline: none;
}
.left{
    width:80px;
}
.c_m_i_update{
    width:65px;
    height:28px;
    background-color: #ff6700;
    color:white;
    cursor: pointer;
}
